
/* Following block replace the Manifest-V3 deprecated key "browser_style:true".
 * Copied from chrome://browser/content/extension.css. Defaults were commented. */
html,
body {
	/* background: transparent; */
	box-sizing: border-box;
	color: #222426;
	cursor: default;
	display: flex;
	flex-direction: column;
	font: caption;
	margin: 0;
	/* padding: 0; */
	user-select: none;
}
body * {
	box-sizing: border-box;
	/* text-align: start; */
}
