@namespace url("http://www.w3.org/1999/xhtml");

:root {

	--source-editor-scrollbar-width: 0px;

	/*******************light theme colors*******************/
	--foreground-color-source-editor: rgb(0, 0, 0);
	--background-color-source-editor: rgb(191, 191, 191);

	--foreground-color-help-popup: rgb(0, 0, 0);
	--background-color-help-popup: rgb(255, 255, 220);
	--invert-filter-help-popup: none;
	--color-help-popup-caption: rgb(0, 0, 255);
	--border-color-help-popup-key: rgb(51, 51, 51);
}

html.darkColorScheme {

	/********************dark theme colors*******************/
	--foreground-color-source-editor: rgb(255, 255, 255);
	--background-color-source-editor: rgb(32, 32, 32);

	--foreground-color-help-popup: rgb(205, 205, 205);
	--background-color-help-popup: rgb(64, 64, 64);
	--invert-filter-help-popup: invert(100%);
	--color-help-popup-caption: rgb(30, 144, 255);
	--border-color-help-popup-key: rgb(181, 181, 181);
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

#helpPopup {
	position: fixed;
	top: 0;
	right: var(--source-editor-scrollbar-width);
	margin: 0;
	padding: 0;
	border: 0 solid var(--foreground-color-help-popup);
	width: 16px;
	height: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	color: var(--foreground-color-help-popup);
	background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAklEQVQ4jYXSQUoDQRAF0JeNZqGewCM4moU7L+A93LgVryBuBZNRAuoRxL1Et15AQ9biDRRHMImLbkPTmZl8KGj6/+qu+lUsYw/XmOAnxgRX2K3RL9DFEDPMG2KGEut1yc+Z+AWnOInnlBvFnAWGmeAGnYTv4C7TlGnPadlf2EQP7zEKbOE7a6cQDUtf/sAxnpK7i/jZa6YdEBxuMm2OXxxiA58ZNyaMqc31o+jBbQ1frXrgMpY+aOCrVS0cYLuFfyNsWJPgHg8tfJ+wnm3b1xRT7MQWlQ2iHvZX+IOw26Ma0RnOa+4fsSZDN1bS1s40/ryUnKIQxjYWxlQJbvfTnv/xB2gLsLkZhnXnAAAAAElFTkSuQmCC") no-repeat left top;
	transition: all 50ms linear 10ms;
	filter: var(--invert-filter-help-popup);
}
#helpPopup.show,
#helpPopup:hover {
	width: auto;
	height: auto;
	padding: 6px;
	border-width: 1px;
	background: var(--background-color-help-popup);
	filter: none;
}

#helpPopupContent {
	display: none;
	white-space: nowrap;
}
#helpPopup.show > #helpPopupContent,
#helpPopup:hover > #helpPopupContent {
	display: block;
}

#helpPopup .caption {
	color: var(--color-help-popup-caption);
	font-size: 16px;
	font-weight: bold;
	padding: 2px 0 14px 2px;
}

#shortcutInfo {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	margin: 0 0 5px 10px;
}
#shortcutInfo tr {
	border-bottom: 1px dotted rgb(128, 128, 128);
}
#shortcutInfo td:first-child {
	padding: 5px 25px 5px 0;
}
#shortcutInfo td:last-child {
	padding: 5px 10px 5px 0;
}
#shortcutInfo .key {
	display: inline-block;
	border: 1px solid var(--border-color-help-popup-key);
	border-radius: 0.3em;
	padding: 1px 4px;
	background-color: rgb(181, 181, 181);
	color: rgb(0, 0, 0);
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
#shortcutInfo .key:first-child { margin-right: 5px; }
#shortcutInfo .key:nth-child(2) { margin-left: 5px; }
#shortcutInfo .key.mod { width: 34px; }
#shortcutInfo .key.func { width: 18px; }
#shortcutInfo .key.char { width: 12px; }

#sourceEditor {
	margin: 0;
	padding: 8px;
	resize: none;
	border: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: auto;
	white-space: pre;
	background-color: var(--background-color-source-editor);
	color: var(--foreground-color-source-editor);
	font-family: Consolas, 'Courier New', monospace;
	font-size: 14px;
	font-weight: normal;
}
