@namespace url("http://www.w3.org/1999/xhtml");

:root {

	--source-editor-scrollbar-width: 0px;

	/*******************light theme colors*******************/
	--foreground-color-source-editor: rgb(0, 0, 0);
	--background-color-source-editor: rgb(191, 191, 191);

	--foreground-color-help-popup: rgb(0, 0, 0);
	--background-color-help-popup: rgb(255, 255, 220);
	--invert-filter-help-popup: none;
	--color-help-popup-caption: rgb(0, 0, 255);
	--border-color-help-popup-key: rgb(51, 51, 51);
}

html.darkColorScheme {

	/********************dark theme colors*******************/
	--foreground-color-source-editor: rgb(255, 255, 255);
	--background-color-source-editor: rgb(32, 32, 32);

	--foreground-color-help-popup: rgb(205, 205, 205);
	--background-color-help-popup: rgb(64, 64, 64);
	--invert-filter-help-popup: invert(100%);
	--color-help-popup-caption: rgb(30, 144, 255);
	--border-color-help-popup-key: rgb(181, 181, 181);
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}

#helpPopup {
	position: fixed;
	top: 0;
	right: calc(var(--source-editor-scrollbar-width) + 1px);
	margin: 0;
	padding: 0;
	border: 0 solid var(--foreground-color-help-popup);
	width: 16px;
	height: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 0.875em;
	overflow: hidden;
	color: var(--foreground-color-help-popup);
	background: transparent url("/icons/notepad-help-popup.png") no-repeat left top;
	transition: all 50ms linear 10ms;
	filter: var(--invert-filter-help-popup);
	user-select: none;
}
#helpPopup.show,
#helpPopup:hover {
	width: auto;
	height: auto;
	padding: 6px;
	border-width: 1px;
	background: var(--background-color-help-popup);
	filter: none;
}

#helpPopupContent {
	display: none;
	white-space: nowrap;
	pointer-events: none;
}
#helpPopup.show > #helpPopupContent,
#helpPopup:hover > #helpPopupContent {
	display: block;
}

#helpPopup .caption {
	color: var(--color-help-popup-caption);
	font-size: 1.2em;
	font-weight: bold;
	padding-block: 2px 14px;
	padding-inline: 2px 0;
}

#shortcutInfo {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: start;
	margin-block: 0 5px;
	margin-inline: 10px 0;
}
#shortcutInfo tr {
	border-bottom: 1px dotted rgb(128, 128, 128);
}
#shortcutInfo tr:first-child {
	border-bottom-style: solid;
}
#shortcutInfo td:first-child {
	padding-block: 5px;
	padding-inline: 0 25px;
}
#shortcutInfo td:last-child {
	display: flex;
	justify-content: left;
	padding-block: 5px;
	padding-inline: 0 10px;
}
#shortcutInfo .key {
	display: inline-block;
	border: 1px solid var(--border-color-help-popup-key);
	border-radius: 0.3em;
	padding: 1px 5px;
	background-color: rgb(181, 181, 181);
	color: rgb(0, 0, 0);
	font-family: 'Courier New', monospace;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}
#shortcutInfo .key:first-child { margin-inline-end: 5px; }
#shortcutInfo .key:nth-child(2) { margin-inline-start: 5px; }
#shortcutInfo .key.mod { width: 34px; }
#shortcutInfo .key.func { width: 18px; }
#shortcutInfo .key.char { width: 12px; }

body {
	display: flex;
	flex-direction: column;
}

#sourceEditor {
	margin: 0;
	padding: 8px;
	resize: none;
	border: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: auto;
	white-space: pre;
	background-color: var(--background-color-source-editor);
	color: var(--foreground-color-source-editor);
	font-family: Consolas, 'Courier New', monospace;
	font-size: 0.875em;
	font-weight: normal;
}

#statusBar {
	padding-block: 5px;
	padding-inline: 8px 12px;
	background-color: rgb(64, 64, 64);
	color: rgb(255, 255, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 0.75em;
	line-height: 1;
	font-weight: bold;
	user-select: none;
	pointer-events: none;
}
