@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--background-color-page: #c8c8c8;
	--background-color-header: #0F8528;
	--background-color-feed-item: #ededed;
	--background-color-prominent-block: #d0d0d0;
	--background-jump-list: #ebebeb;

	--color-header: #f0f0fa;
	--color-prominent-block: #404040;

	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 0.8em;
}

html {
	background-color: var(--background-color-page);
}

body {
	margin-top: 0;
	padding: 0 35px 5px;
	min-width: 550px;
}

#pageHeaderContainer {
	color: var(--color-header);
	background-color: var(--background-color-header);
	margin: 0 auto;
	padding: 10px 15px 15px 15px;
}

#pageHeaderContainerInner {
	display: flex;
	justify-content: end;
	align-items: center;
	margin: auto auto 20px auto;
	filter: drop-shadow(0 0 4px #000000);
}

#jumpListContainer {
	position: fixed;
	top: 0;
	left: 0;
	margin: 1px;
	width: 16px;
	height: 16px;
	max-width: 55%;
	max-height: 95%;
	background: transparent url("/icons/feed-preview-jump-list.png") no-repeat left top;
	cursor: pointer;
	transition: all 100ms linear;
	z-index: 1;
}

#jumpListContainer.open {
	width: auto;
	height: auto;
	background: var(--background-jump-list);
	cursor: default;
	border: 1px solid rgb(65, 65, 65);
	box-shadow: 13px 13px 5px 0 rgba(0,0,0,0.75);
	overflow-y: auto;
}

#jumpListContainer strong {
	font-weight: bold !important;
}

#jumpList {
	display: none;
	padding: 4px 8px 8px 8px;
	overflow: hidden;
}

#jumpListContainer.open > #jumpList {
	display: block;
}

.jumpListAnchor {
	display: block;
	white-space: nowrap;
	margin: 4px 3px 4px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#pageHeaderText {
	background: transparent url("/icons/sageLike-16.png") no-repeat left center;
	padding-left: 24px;
	font-size: 86%;
	font-weight: bold;
}

#feedTitle {
	display: flex;
	align-items: flex-start;
}

#feedTitleTexts {
	flex: 1 1;
}

#feedTitleText {
	font-size: 185%;
	font-weight: bold;
	margin-bottom: 10px;
}

#feedTitleTextAnchor {
	text-decoration: inherit;
	color: inherit;
}

#loadingLabel,
#feedDescriptionText {
	font-size: 125%;
}

#feedTitleImage {
	justify-self: end;
	align-self: center;
	max-width: 320px;
	max-height: 80px;
	min-height: 40px;
	margin-inline-start: 10px;
	border-radius: 4px;
}

#feedTitleImage:not([src]) {
	display: none;
}

#feedBody {
	margin: 24px auto;
}

#busyAnimLoading {
	--size-image: 44px;
	--color-image: #000000;
	display: block;
	width: var(--size-image);
	height: var(--size-image);
	box-sizing: border-box;
	position: fixed;		/* performance: remove animations from the flow */
	left: calc(50% - (var(--size-image) / 2));
	border-radius: 50%;
	border: 6px solid var(--color-image);
	border-color: var(--color-image) var(--color-image) var(--color-image) transparent;
	animation: keyframesRotatingBusyAnimLoading 1s linear infinite;
}
@keyframes keyframesRotatingBusyAnimLoading {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#errorContainer {
	display: none;
	color: crimson;
	background-color: #ffffff;
	padding: 13px 15px;
}

#errorContainer.withMessage {
	display: block;
}

#errorMessage {
	background: transparent url("/icons/errormsg.png") no-repeat left top;
	padding-left: 20px;
}

.feedItemContainer {
	display: flex;
	align-items: flex-start;
	background-color: var(--background-color-feed-item);
	margin-bottom: 20px;
	padding: 13px 15px;
}

.feedItemBigFont {
	font-size: 110%;
	font-weight: bold;
}

.feedItemNumber {
	margin-inline-end: 8px;
}

.feedItem {
	width: 98%;
}

.feedItemTitle {
	margin-bottom: 12.8px;
}

.feedItemLastUpdatedText {
	font-size: 90%;
	color: #707070;
}

.feedItemImage {
	display: block;
	max-width: 400px;
	max-height: 400px;
	width: auto;
	height: auto;
	border: 2px solid black;
	margin: 6px;
}

.feedItemContent * {
	font-size: 100% !important;
	font-weight: normal !important;
	float: none !important;
	width: auto !important;
}

.feedItemContent h1,
.feedItemContent h2,
.feedItemContent h3,
.feedItemContent h4,
.feedItemContent h5,
.feedItemContent h6 {
	font-weight: bold !important;
}

.feedItemContent audio,
.feedItemContent video,
.feedItemContent *|svg,			/* SVG namespace */
.feedItemContent figure,
.feedItemContent img {
	max-width: 400px !important;
	max-height: 400px !important;
	width: auto !important;
	height: auto !important;
	margin: 3px !important;
}

.feedItemContent figure {
	max-width: 95% !important;
	max-height: 95% !important;
}

.feedItemContent figcaption {
	font-style: italic !important;
	color: #707070 !important;
}

.feedItemContent p {
	margin: 6px 0 !important;
}

.feedItemContent img[src*="/wp-"][src*="/icon_"],
.feedItemContent img[src*="/smilies/"],
.feedItemContent img[src*="/emoji/"],
.feedItemContent img.wp-smiley,
.feedItemContent img.smilies,
.feedItemContent img.emoji,
.feedItemContent img[alt^=":"][alt$=":"] {
	max-width: 15.8px !important;
	max-height: 15.8px !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	vertical-align: middle !important;
}

.feedItemContent strong,
.feedItemContent strong > em,
.feedItemContent strong > mark {
	font-weight: bold !important;
}

.feedItemContent blockquote {
	position: relative !important;
	border-radius: 8px !important;
	padding-block: 10px !important;
	padding-inline: 42px 15px !important;
	background-color: var(--background-color-prominent-block) !important;
	color: var(--color-prominent-block) !important;
}
.feedItemContent blockquote::before {
	position: absolute !important;
	top: 0 !important;
	left: 8px !important;
	font-family: Georgia, serif !important;
	font-weight: bold !important;
	font-size: 400% !important;
	content: "\201C" !important;	/*Left Double Quotation Mark*/
}
.feedItemContainer[style*="direction: rtl"] .feedItemContent blockquote::before {
	left: auto !important;
	right: 8px !important;
	content: "\201D" !important;	/*Right Double Quotation Mark*/
}

.feedItemContent pre {
	padding: 4px 7px !important;
	border-radius: 4px !important;
}

.feedItemContent pre,
.feedItemContent code {
	background-color: var(--background-color-prominent-block) !important;
	color: var(--color-prominent-block) !important;
	font-family: Consolas, 'Courier New', monospace !important;
	white-space: pre-wrap !important;		/* prevent pre content from overflowing */
}

.feedItemContent kbd {
	border: 1px solid #aaaaaa !important;
	border-radius: 4px !important;
	padding: 0 4px 1px 4px !important;
	font-family: Consolas, 'Courier New', monospace !important;
	font-size: 110% !important;
}

.feedItemContent details {
	width: auto !important;
	border-inline-start: 5px solid blue !important;
	border-radius: 4px !important;
	background-color: var(--background-color-prominent-block) !important;
	color: var(--color-prominent-block) !important;
}
.feedItemContent details > summary {
	padding: 12px !important;
	color: blue !important;
	cursor: pointer !important;
}
.feedItemContent details > *:not(summary):not(ul):not(ol) {
	padding-inline-start: 28px !important;
}
.feedItemContent details > *:last-child {
	padding-bottom: 20px !important;
}

.feedItemAttachmentsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 18px;
	padding-top: 5px;
	border-top: 1px solid gray;
}

.feedItemAttachment {
	--spacing-horizontal: 16px;
	--spacing-vertical: 10px;
	--size-image: 32px;
	--max-width-media-object: 310px;
	--width-media-object: auto;
	--height-media-object: 170px;
	--height-title: 12px;
	--width-attachment: 64px;
	--height-attachment: 64px;
	--margin-attachment: 10px;

	box-sizing: border-box;
	width: var(--width-attachment);
	height: var(--height-attachment);
	max-height: var(--height-attachment);
	margin-block-start: calc( var(--margin-attachment) / 2 );
	margin-block-end: calc( var(--margin-attachment) / 2 );
	margin-inline-end: var(--margin-attachment);
	padding: var(--spacing-vertical) var(--spacing-horizontal);
	border-radius: 0.5rem;
	background-color: var(--background-color-page);
	order: 9;
}
.feedItemAttachment.video,
.feedItemAttachment.audio,
.feedItemAttachment.img {
	--spacing-horizontal: 8px;
	--width-attachment: auto;
	--height-attachment: calc(var(--spacing-vertical) + var(--height-media-object) + var(--height-title) + var(--spacing-vertical));
}
.feedItemAttachment.audio {
	--height-media-object: var(--size-image);
}
.feedItemAttachment:hover {
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.8);
}
.feedItemAttachment.loadError:hover {
	box-shadow: 0 0 6px 2px rgba(255, 0, 0, 0.8);
}
.feedItemAttachment.video { order: 1; }
.feedItemAttachment.img { order: 2; }
.feedItemAttachment.audio { order: 3; }

.feedItemAttachmentContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feedItemAttachmentImage {
	display: block;
	width: var(--size-image);
	height: var(--size-image);
	pointer-events: none;
}
.feedItemAttachment.loadError .feedItemAttachmentImage {
	filter: hue-rotate(138deg) saturate(622%);	/* blue to red */
}

.feedItemAttachmentMediaObject {
	max-width: var(--max-width-media-object);
	min-height: var(--height-media-object);
	max-height: var(--height-media-object);
	width: var(--width-media-object);
	height: var(--height-media-object);
	margin-left: auto;
	margin-right: auto;

	border-radius: 0.25rem;
}
.feedItemAttachment.audio .feedItemAttachmentMediaObject {
	filter: drop-shadow(0 0 1px #ffffff);
}
.feedItemAttachment.loadError .feedItemAttachmentMediaObject {
	pointer-events: none;
}
.feedItemAttachment.audio.loadError .feedItemAttachmentMediaObject {
	filter: contrast(30%);		/* dim when error */
}
.feedItemAttachment.img.loadError .feedItemAttachmentMediaObject {
	border: 1px solid black;
}

.feedItemAttachmentTitle {
	--margin-title: 3px;

	position: relative;
	left: calc( (var(--spacing-horizontal) - var(--margin-title)) * -1);
	width: calc(var(--width-attachment) - (var(--margin-title) * 2));
	height: var(--height-title);
	margin-top: 2px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 80%;
	pointer-events: none;
}
.feedItemContainer[style*="direction: rtl"] .feedItemAttachmentTitle {
	right: calc( (var(--spacing-horizontal) - var(--margin-title)) * -1);
}
.feedItemAttachment.video .feedItemAttachmentTitle,
.feedItemAttachment.audio .feedItemAttachmentTitle,
.feedItemAttachment.img .feedItemAttachmentTitle {
	position: static;
	left: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(var(--max-width-media-object) - (var(--margin-title) * 8));
}
.feedItemAttachment.img.loadError .feedItemAttachmentTitle {
	max-width: calc(var(--height-media-object) - (var(--margin-title) * 2));
}

#attachmentTooltip {
	display: none;
	position: absolute;
	z-index: 1;
	max-width: 550px;
	max-height: 150px;
	background-color: var(--background-color-page);
	border: 1px solid black;
	padding: 3px 4px;
	overflow: hidden;
	box-shadow: 13px 13px 5px 0 rgba(0,0,0,0.75);
	word-wrap: normal;
	white-space: pre-wrap;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 0.859375em;
}

#attachmentTooltip > p {
	margin: 0 0 3px 0;
	padding-left: 1.8em;	/* indent from second line (ie. hanging indent) */
	text-indent: -1.8em;
}
