@namespace url("http://www.w3.org/1999/xhtml");

body {
	background-color: black !important;
}

#pageHeaderContainer {
	background-color: crimson !important;
	background-image: url("https://www.iconsdb.com/icons/download/black/skull-32-128.png");
}

#feedBody * {
	color: yellow !important;
	background-color: crimson !important;
}

#feedBody {
	background-image: url("http://www.evil.com/fuck-him-up.png");
}

.feedItemNumber {
	background-image: url("https://www.evil.com/fuck-him-up.png");
}

.feedItemTitle {
	background-image: url("ftp://www.evil.com/fuck-him-up.png");
}

.feedItemContent {
	background-image: url("sftp://www.evil.com/fuck-him-up.png");
}

#attachmentTooltip {
	background-image: url("file://www.evil.com/fuck-him-up.png");
}
