@namespace url("http://www.w3.org/1999/xhtml");

#feedContent {
	display: flex;
	flex-direction: row;
	/* flex-direction: row-reverse; rtl */
	flex-wrap: wrap;
}

.feedItemContainer {
	flex: 1 1 40%;
}

.feedItemContainer:nth-child(2n+1):not(:last-child) {
	margin-right: 20px;
	/* margin-left: 20px; rtl */
}
