@namespace url("http://www.w3.org/1999/xhtml");

* {
	font-family: monospace;
	font-size: 25px;
	line-height: 25px;
}

#pageHeaderContainer {
	background-color: darkgreen;
	border: 2px dashed greenyellow;
	box-shadow: 0 0 2.5px 1px cornflowerblue;
	background-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
	background-image: url("chrome://browser/skin/preferences/in-content/face-sad.svg");
}

.feedItemContent img {
	filter: blur(5px) !important;
	margin: 0 !important;
	border: 5px solid blueviolet;
}
