@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--height-preference: 40px;
	--max-width-preferences-body: 700px;
	--bottom-left-radius-last-sub-perf: 15px;

	--color-text-input-focused: rgb(10, 133, 255);
	--color-text-input-invalid: rgb(255, 0, 0);

	--color-text-block-caption-values: 9, 119, 229;

	--color-control-accent: rgb(0, 96, 223);
	--background-color-input: rgb(121, 121, 121);

	/*******************light theme colors*******************/
	--foreground-color: rgb(0, 0, 0);
	--background-color-body: transparent;
	--background-color-select-control: transparent;
	--background-color-option-user: rgb(224, 224, 224);		/* option[value="-1"] */
	--box-shadow-color-swatch: rgba(0, 0, 0, 0.6);
	--drop-shadow-control-image:rgba(0, 0, 0, 0);
	--foreground-color-help-info: rgb(255, 255, 255);
	--background-color-help-info: rgb(187, 187, 187);
	--background-color-hover-help-info: rgb(42, 67, 100);
	--background-color-popup-box: rgb(245, 245, 245);
	--border-color-popup-box: rgb(0, 0, 0);
	--background-color-input-control: rgb(255, 255, 255);
	--foreground-color-disabled-control: rgb(169, 169, 169);
	--background-color-disabled-control: rgb(211, 211, 211);
	--background-color-textarea-control: rgb(240, 240, 240);

	--background-color-button: 6, 6, 5;
	--background-alpha-button: 0.1;
	--background-alpha-hover-button: 0.15;
	--background-alpha-hover-active-button: 0.2;

	--color-preference-hover: rgb(242, 242, 242);
	--color-border-sub-perf: rgb(51, 51, 51);
	--color-flash: rgb(255, 192, 192);
}

@media (prefers-color-scheme: dark) {

	:root {
		/********************dark theme colors*******************/
		--foreground-color: rgb(249, 249, 250);
		--background-color-body: rgb(32, 32, 35);
		--background-color-select-control: rgb(50, 50, 54);
		--background-color-option-user: rgb(16, 16, 16);		/* option[value="-1"] */
		--box-shadow-color-swatch: rgba(255, 255, 255, 0.6);
		--drop-shadow-control-image:rgba(255, 255, 255, 0.6);
		--foreground-color-help-info: rgb(0, 0, 0);
		--background-color-help-info: rgb(92, 92, 92);
		--background-color-hover-help-info: rgb(192, 192, 192);
		--background-color-popup-box: var(--background-color-body);
		--border-color-popup-box: rgb(128, 128, 128);
		--background-color-input-control: var(--background-color-select-control);
		--foreground-color-disabled-control: rgb(127, 127, 127);
		--background-color-disabled-control: rgb(72, 72, 72);
		--background-color-textarea-control: rgb(50, 50, 50);

		--background-color-button: 249, 249, 250;
		--background-alpha-button: 0.1;
		--background-alpha-hover-button: 0.15;
		--background-alpha-hover-active-button: 0.2;

		--color-preference-hover: rgb(52, 52, 55);
		--color-border-sub-perf: rgb(221, 221, 221);
		--color-flash: rgb(255, 88, 88);
	}
}

body {
	font-family: inherit;
	font-size: 1.273rem;
	font-weight: normal;
	min-width: 600px;
	max-width: var(--max-width-preferences-body);
	line-height: 21px;
	white-space: nowrap;
	color: var(--foreground-color);
	background-color: var(--background-color-body);
}

.caption {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 35px;
}

.prefBlockCaption {
	--v-font-size: 1.667rem;

	margin: calc(var(--height-preference) * 1.2) 0 10px;
	background: linear-gradient(to right, transparent 1%, rgba(var(--color-text-block-caption-values), 0.5));
	color: rgb(var(--color-text-block-caption-values));
	font-size: var(--v-font-size);
	font-weight: bold;
	line-height: calc(var(--v-font-size) * 1.45);
	border-left: 2px solid rgb(var(--color-text-block-caption-values));
	padding-left: 4px;
}

.prefBlockCaption.first {
	margin-top: 10px;
}

.preference {
	display: flex;
	justify-content: space-between;
	padding: 9px 3px;
	height: var(--height-preference);
	min-height: var(--height-preference);
	max-height: var(--height-preference);
}

.preference:hover {
	background-color: var(--color-preference-hover);
}

.preference.subPref {
	margin-left: 3px;
	padding-left: 16px;
	border-left: 4px solid var(--color-border-sub-perf);
}

.preference.subPref.last{
	border-bottom-left-radius: var(--bottom-left-radius-last-sub-perf);
}

.prefSeperator {
	border-bottom: 1px solid rgb(211, 211, 211);
}

.preference.subPref + .prefSeperator {
	margin-left: var(--bottom-left-radius-last-sub-perf);
}

.preferenceControl {
	display: flex;
}

.controlLabel {
	padding-left: 5px;
}

.controlLabel:not(:last-child) {
	padding-right: 5px;
	margin-right: 10px;
}

.precedingControlLabel {
	padding-right: 5px;
}

.precedingControlLabel {
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 10px;
}

/******************************************************************/
/**************************** CONTROLS ****************************/
/******************************************************************/
input {
	color: var(--foreground-color);
	background-color: var(--background-color-input-control);
}

select {
	max-width: calc(var(--max-width-preferences-body) * 0.4);
	border: 1px solid #7a7a7a;
	color: var(--foreground-color);
	background-color: var(--background-color-select-control);
}

@media (prefers-color-scheme: dark) {
	body.optionBkColorBugStyleV68 select > option {
		background-color: var(--background-color-body);
	}
}

/*** User font and Time of day ***/
select > option[value="-1"] {
	background-color: var(--background-color-option-user);
}

/*** input of file type will be hidden an customized ***/
input[type="file"] {
	width: 0;
	visibility: hidden;
	opacity: 0;
}

input[type="checkbox"] {
	--button-width: 36px;
	--button-height: 18px;
	--dot-margin: 4px;
	--dot-size: calc(var(--button-height) - 2*var(--dot-margin));
	--dot-transform-x: calc(var(--button-width) - 2*var(--dot-margin) - var(--dot-size));

	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin: 2px 0;
	outline: none;
	box-sizing: border-box;
	width: var(--button-width);
	height: var(--button-height);
	border-radius: calc(var(--button-height) / 2);
	background-color: var(--background-color-input);
}
input[type="checkbox"]:checked {
	background-color: var(--color-control-accent);
}
input[type="checkbox"]:disabled {
	background-color: var(--background-color-disabled-control);
}

input[type="checkbox"]::before {
	display: block;
	content: "";
	background-color: #ffffff;
	height: var(--dot-size);
	width: var(--dot-size);
	margin: var(--dot-margin);
	border-radius: 50%;
	transition: transform 100ms;
}
input[type="checkbox"]:checked::before {
	transform: translateX(var(--dot-transform-x));
}
input[type="checkbox"]:disabled::before {
	background-color: var(--foreground-color-disabled-control);
}

input[type="radio"] {
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin: 2px 0;
	outline: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 2px solid var(--background-color-input);
	transition: 0.2s all linear;
	background-color: transparent;
}
input[type="radio"]:checked {
	border: 6px solid var(--color-control-accent);
	background-color: #ffffff;
}
input[type="radio"]:disabled {
	border-color: var(--foreground-color-disabled-control);
	background-color: var(--background-color-disabled-control);
}

input[type="color"] {
	width: 25px;
	height: 18px;
	border: none;
	margin: 2px 3px;
	padding: 1px;
	background-color: transparent;
	cursor: pointer;
}

input[type="color"]::-moz-color-swatch {
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--box-shadow-color-swatch);
}

input[type="color"]::-moz-focus-inner {
	padding: 0;
}

.numericInput {
	border: 1px solid #7a7a7a;
	padding: 2px;
	height: 21px;
	width: 50px;
}

.numericInput:focus {
	border-color: var(--color-text-input-focused);
	box-shadow: 0 0 2.5px 1px var(--color-text-input-focused);
}

.numericInput:invalid {
	border-color: var(--color-text-input-invalid);
	box-shadow: 0 0 2.5px 1px var(--color-text-input-invalid);
}

.preferenceButton {
	padding: 1px 3px 2px 3px;
	color: var(--foreground-color);
	background-color: rgba(var(--background-color-button), var(--background-alpha-button));
	border: 1px solid rgb(193, 193, 193);
	border-radius: 2px;
	height: 22px;
	width: 90px;
	text-align: center;
	margin-left: 10px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13.3333px;
	line-height: 17px;
	outline-offset: -3px;
}

.preferenceButton:hover {
	background-color: rgba(var(--background-color-button), var(--background-alpha-hover-button));
}

.preferenceButton:active:hover {
	background-color: rgba(var(--background-color-button), var(--background-alpha-hover-active-button));
}

.controlImage {
	display: inline-block;
	width: 24px;
	height: 20px;
	margin: auto 0 auto 0;
	background: transparent no-repeat 4px top/20px 20px;
	filter: drop-shadow(0 0 2px var(--drop-shadow-control-image));
}

.controlImage:not(:last-child) {
	margin-right: 18px;
}

#imageSet0 + .controlImage { background-image: url("/icons/open-0.png"); }
#imageSet1 + .controlImage { background-image: url("/icons/open-1.png"); }
#imageSet2 + .controlImage { background-image: url("/icons/open-2.png"); }
#imageSet3 + .controlImage { background-image: url("/icons/open-3.png"); }
#imageSet4 + .controlImage { background-image: url("/icons/open-4.png"); }
#imageSet5 + .controlImage { background-image: url("/icons/open-5.png"); }
#imageSet6 + .controlImage { background-image: url("/icons/open-6.png"); }

.extensionButtons .preferenceButton {
	width: 115px;
	margin-left: 7px;
}

#btnReloadExtension {
	margin-left: 16px;
}

.helpInfo {
	display: inline-block;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	background-color: var(--background-color-help-info);
	color: var(--foreground-color-help-info);
	font-family: "Open Sans", X-LocaleSpecific, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
	vertical-align: top;
	cursor: help;
	margin-top: 2px;
}

.helpInfo:hover {
	background-color: var(--background-color-hover-help-info);
}

.annotation {
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
	font-size: 9pt;
	color: gray;
}

/*** User font box and Time of day box ***/
.popupBox {
	display: none;
	position: absolute;
	border: 1px solid var(--border-color-popup-box);
	border-radius: 8px;
	padding: 12px;
	background-color: var(--background-color-popup-box);
	color: inherit;
	box-shadow: 13px 13px 5px 0 rgba(0, 0, 0, 0.75);
	z-index: 2;
	white-space: nowrap;
}

.inputPopupBox {
	pointer-events: initial;
	border: 1px solid var(--border-color-popup-box);
	padding: 2px;
}

#messageBoxCaption,
#messageBoxText,
#messageBoxButtons {
	margin: 6px 8px;
}

#messageBoxCaption {
	font-weight: bold;
}

#messageBoxText {
	padding: 10px 0 15px;
	max-width: 400px;
	word-wrap: normal;
	white-space: pre-wrap;
	-moz-user-select: text;
	user-select: text;
}

#messageBoxButtons {
	display: flex;
	justify-content: end;
}

/************************************************************************************/
/**************************** Elements that will 'flash' ****************************/
/************************************************************************************/
.preferenceButton {
	--color1: rgba(var(--background-color-button), var(--background-alpha-button));
	background: linear-gradient(to left, var(--color1) 52%, var(--color-flash) 50%);
}

select {
	background: linear-gradient(to left, var(--background-color-select-control) 52%, var(--color-flash) 50%);
}

select,
.preferenceButton {
	background-size: 220% 100%;
	background-position: right bottom;
	transition: background-position 0.2s ease-in 0s;
}

select.flash,
.preferenceButton.flash {
	background-position: left bottom;
}

/***************************************************************************/
/**************************** Disabled elements ****************************/
/***************************************************************************/
.disabled {
	outline: none;
	pointer-events: none;
}

label.disabled,
input[type="text"].disabled,
.preferenceButton.disabled,
.preference.subPref.disabled {
	color: var(--foreground-color-disabled-control);
	border-color: var(--foreground-color-disabled-control);
}

input[type="color"].disabled {
	filter: contrast(10%);
}

/****************************************************************************/
/**************************** Preference Overlay ****************************/
/****************************************************************************/
.prefContainerOverlay {
	position: relative;
}

.preferenceOverlay {
	display: flex;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	cursor: wait;
	transition: width 0.15s linear 0s, height 0.15s linear 0s;
	overflow: hidden;
}

.preferenceOverlay.processing {
	width: 100%;
	height: 100%;
}

.busyAnimPrefOverlay {
	--size-image: 30px;
	--color-image: white;
	display: none;
	width: var(--size-image);
	height: var(--size-image);
	margin: auto 0 auto 10px;
	border-radius: 50%;
	border: 5px solid var(--color-image);
	border-color: var(--color-image) var(--color-image) var(--color-image) transparent;
	animation: busyAnimPrefOverlayFrames 0.7s linear infinite;
}
@keyframes busyAnimPrefOverlayFrames {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.preferenceOverlay.processing .busyAnimPrefOverlay {
	display: block;
}

.processingMsgPrefOverlay {
	display: none;
	margin: auto auto auto 10px;
	font-weight: bold;
	letter-spacing: 0.7px;
	color: white;
	font-size: 115%;
}

.preferenceOverlay.processing .processingMsgPrefOverlay {
	display: block;
}

body.noCaptionStyleV68 .caption,
body.noCaptionStyleV68 .caption + .prefSeperator {
	display: none;
}

#pageOverlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	max-width: var(--max-width-preferences-body);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
