@namespace url("http://www.w3.org/1999/xhtml");

#discoverPanel {
    display: none;
    position: absolute;
    top: calc(var(--toolbar-height) + 3px);
    left: 3px;
    background-color: ghostwhite;
    box-shadow: 13px 13px 5px 0 rgba(0, 0, 0, 0.75);
    min-width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#discoverPanel .caption {
    margin: 4px 0 4px 0;
}

#discoverFeedsList {
    list-style-type: none;
    padding: 3px 3px;
    min-height: 150px;
    max-height: 150px;
    overflow: auto;
    font-weight: normal;
    background-color: Window;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

#discoverFeedsList .dfItem {
    padding: 3px 4px;
    /*padding: 2px 3px;
    border: 1px dotted transparent;*/
}
/*
#discoverFeedsList .dfItem:hover {
    border: 1px dotted gray;
}
*/
#discoverFeedsList .dfChkBox {
    position: relative;
    top: 2px;
    margin: 0;
}

#discoverFeedsList .dfLabel {
    display: inline-block;
    padding-left: 6px;
    width: calc(100% - 20px);
    white-space: nowrap
}

.dfButtonContainer {
    display: flex;
    justify-content: right;
}

.dfButtonContainer .dfButton {
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(193, 193, 193);
    border-radius: 2px;
    height: 30px;
    width: 100px;
    text-align: center;
    margin-left: 10px;
}

.dfButtonContainer .dfButton:hover {
    background-color: rgb(235, 235, 235);
}

.dfButtonContainer .dfButton:active:hover {
    background-color: rgb(218, 218, 218);
}