@namespace url("http://www.w3.org/1999/xhtml");

#discoverPanel {
	display: none;
	position: absolute;
	top: calc(var(--toolbar-height) + 3px);
	left: 3px;
	background-color: var(--bk-color-dialog);
	box-shadow: 13px 13px 5px 0 rgba(0, 0, 0, 0.75);
	min-width: 300px;
	max-width: 94%;
	width: 94%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 8px;
	z-index: 1;
	white-space: nowrap;
}

#discoverPanel.loading {
	cursor: wait;
}

#discoverPanel > #captionContainer {
	display: flex;
	justify-content: left;
	--item-spacer: 5px;
}

#discoverPanel .captionImage {
	background: transparent var(--url-img-tree-item) no-repeat center center;
	width: 16px;
	height: 16px;
	margin: auto var(--item-spacer) auto 0;
}

#discoverPanel.loading .captionImage {
	background-image: var(--url-img-tree-item-loading);
}

#discoverPanel .caption {
	margin: auto var(--item-spacer) auto 0;
}

#discoverPanel .captionSpacer {
	margin: auto auto auto 0;
}

#discoverPanel .button {
	width: 20px;
	height: 20px;
	border-radius: 2px;
	margin: auto 0 auto calc(var(--item-spacer) * 2);
}

#discoverPanel #btnCheckmarkAll {
	background: transparent url("/icons/checkmarkall.png") no-repeat center center;
}

#discoverPanel #btnRediscover {
	background: transparent url("/icons/reload.png") no-repeat center center;
}

#discoverPanel .button:hover {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted-alfa);
}

#discoverPanel .button:active {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted);
}

#discoverPanel .button.disabled {
	filter: grayscale(100%) opacity(40%);
	pointer-events: none;
}

#discoverFeedsList {
	list-style-type: none;
	padding: 0;
	min-height: 140px;
	max-height: 140px;
	overflow: auto;
	font-weight: normal;
	background-color: var(--bk-color-window);
	border: 1px solid #252525;
}

#discoverFeedsList .dfItem {
	--item-height: 29px;

	padding: 0 7px;
	display: flex;
	justify-content: left;
	min-height: var(--item-height);
}

#discoverFeedsList .dfItem.novalidfeeds {
	color: gray;
	font-style: italic;
	border-bottom: 0;
}

#discoverFeedsList .dfChkBox {
	margin: auto;
}

#discoverFeedsList .dfLabel {
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	padding-left: 6px;
	width: 100%;
	margin: auto 0 auto 0;
}

#discoverFeedsList .dfLabel .dfLabelCaption {
	max-width: 290px;
	margin: 0 auto 0 0;
	overflow: hidden;
}

#discoverFeedsList .dfItem:focus .dfLabelCaption {
	outline: 1px dotted gray;
}

#discoverFeedsList .dfLabel .dfLabelFormat {
	max-width: 30px;
	margin: auto 0 auto 0;
	color: gray;
	vertical-align: text-bottom;
}

.dfButtonContainer {
	display: flex;
	justify-content: right;
}

#discoverPanel .statusbar {
	margin-top: 8px;
}

#discoverPanel .statusbar.error {
	color: red;
}
