@namespace url("http://www.w3.org/1999/xhtml");

#feedPropertiesPanel {
    display: none;
    position: absolute;    
    background-color: ghostwhite;
    box-shadow: 13px 13px 5px 0 rgba(0, 0, 0, 0.75);
    min-width: 94%;
    max-width: 94%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 1;
    white-space: nowrap;
}