@namespace url("http://www.w3.org/1999/xhtml");

#messagePanel {
	font-weight: normal;
}

#messagePanel > .caption {
	margin: 0 0 10px;
}

#msgText {
	width: 100%;
	word-wrap: normal;
	text-align: center;
	max-height: calc(var(--line-height) * 15);
	margin-bottom: 16px;
	overflow: hidden;
	font-size: 13px;
}

#msgText.leftAlign {
	text-align: left;
}

.buttonSet {
	display: none;
	justify-content: flex-end;
}

.buttonSet.visible {
	display: flex;
}
