@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--toolbar-height: 31px;
	--top-height: 60%;
	--splitter-height: 7px;
	--line-height: 19px;		/* UI density: Comfortable */
	--rss-tree-indent: 18px;	/* UI density: Comfortable */

	--bk-color-window: #F3F3F3;
	--bk-color-window-inverted: #0C0C0C;
	--bk-color-dialog: #E3E3E3;
	--bk-color-active: #F3C8BA;
	--bk-color-active-inverted: #0C3745;
	--bk-color-info-window: #FFFEDF;
	--color-text: #000000;
}

:focus {
	outline: none;
}

html, body {
	height: 100%;
	line-height: var(--line-height);
	background-color: var(--bk-color-window);
	color: var(--color-text);
}

.top {
	position: fixed;
	top: var(--toolbar-height);
	width: 100%;
	height: var(--top-height);
	overflow-y: auto;
}

.bottom {
	position: fixed;
	top: calc(var(--top-height) + var(--splitter-height));
	width: 100%;
	height: auto;
	overflow-y: auto;
}

.splitter {
	position: fixed;
	top: var(--top-height);
	width: 100%;
	height: var(--splitter-height);
	background-color: #c0c0c0;
	cursor: n-resize;
	border-top: 1px #e0e0e0 solid;
	border-bottom: 1px #7f7f7f solid;
}

.toolbar {
	--buttons-spacer: 8px;
	width: 100%;
	height: var(--toolbar-height);
	background-color: var(--bk-color-dialog);
	border-top: 1px #7f7f7f solid;
	border-bottom: 1px #7f7f7f solid;
	padding: 5px var(--buttons-spacer);
	display: flex;
	justify-content: left;
}

.toolbar .button {
	width: 16px;
	height: 16px;
	margin: auto var(--buttons-spacer) auto 0;
}

.toolbar .button:last-child {
	margin: auto 0;
}

.toolbar .button.alert {
	filter: drop-shadow(0 0 4px crimson);
}

.toolbar .button:hover {
	filter: drop-shadow(0 0 4px #4747ff);
}

.toolbar .button:active {
	filter: drop-shadow(0 0 5px #008f8f);
}

.spacer {
	width: var(--buttons-spacer);
	height: 16px;
	pointer-events: none;
}

.springSpacer {
	margin: auto;
}

#checkTreeFeeds {
	background: transparent url("/icons/reload.png") no-repeat left center;
}
#discoverfeed {
	background: transparent url("/icons/discover.png") no-repeat left center;
}
#expandall {
	background: transparent url("/icons/expandall.png") no-repeat left center;
}
#collapseall {
	background: transparent url("/icons/collapseall.png") no-repeat left center;
}
#preferences {
	background: transparent url("/icons/preferences.png") no-repeat left center;
}

.disabled {
	pointer-events: none;
	filter: blur(1.5px);
}

.smallText {
	--text-height: 10px;
	line-height: var(--text-height);
	font-family: Tahoma, Sans !important;
	font-weight: normal;
	font-size: var(--text-height) !important;
}

.dlgButton {
	padding: 1px 3px;
	background-color: rgb(251, 251, 251);
	border: 1px solid rgb(193, 193, 193);
	border-radius: 2px;
	height: 30px;
	width: 100px;
	text-align: center;
	margin-left: 10px;
}

.dlgButton:hover {
	background-color: rgb(235, 235, 235);
}

.dlgButton:active:hover {
	background-color: rgb(218, 218, 218);
}

#infoBar {
	position: absolute;
	max-width: 92%;
	z-index: 1;
	padding: 3px 9px;
	background-color: var(--bk-color-info-window);
	border: 2px solid #143cdc;
	border-radius: 0 12px 12px 12px;
	font-weight: normal;
	top: -99999px;
}

#infoBar.alertive {
	border-color: crimson;
}

#infoBar.rightToLeftBorder {
	border-radius: 12px 0 12px 12px;
}

#infoBar.fadeIn {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 500ms;
}

#infoBar.fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 500ms, opacity 500ms;
}

#infoBar .infoBarSymbol {
	font-size: 150%;
	font-weight: bolder;
	color: #143cdc;
}

#infoBar.alertive .infoBarSymbol {
	color: crimson;
}
