@namespace url("http://www.w3.org/1999/xhtml");

#propertiesPanel {
	white-space: nowrap;
	font-weight: normal;
	overflow: hidden;
}

#propertiesPanel > .captionContainer {
	display: flex;
	justify-content: left;
	margin: 0 0 var(--panel-spacing);
}

#propertiesPanel .captionImage {
	background: transparent url("/icons/sageLike-16.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin: auto 8px auto 0;
}

#propertiesPanel .caption {
	margin: 0;
}

.propContainer {
	display: flex;
	margin: var(--panel-spacing);
}

.propContainer label {
	width: 65px;
	margin: auto auto auto 0;
}

.propContainer label:last-child {
	width: auto;
}

.propContainer input[type="text"] {
	margin: auto 0 auto auto;
	width: 80%;
	font-size: inherit;
}

.propContainer > input[type="checkbox"]:first-child {
	margin: auto 5px auto 0;
}

.propContainer > input[type="checkbox"]:first-child:focus + label {
	outline: 1px dotted gray;
}

.fpButtonContainer {
	display: flex;
	justify-content: right;
	margin-right: var(--panel-spacing);
}

#propertiesPanel .statusbar {
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: red;
}
