@namespace url("http://www.w3.org/1999/xhtml");

#propertiesPanel {
	--panel-spacing: 10px;
	white-space: nowrap;
	font-weight: normal;
}

#propertiesPanel > .caption {
	margin: 0 0 var(--panel-spacing);
}

.propContainer {
	display: flex;
	margin: var(--panel-spacing);
}

.propContainer label {
	width: 65px;
	margin: auto auto auto 0;
}

.propContainer input[type="text"] {
	margin: auto 0 auto auto;
	width: 80%;
	font-size: inherit;
}

.propContainer > input[type="checkbox"]:first-child {
	margin: auto 5px auto 0;
}

.propContainer > input[type="checkbox"]:first-child:focus + label {
	outline: 1px dotted gray;
}

.fpButtonContainer {
	display: flex;
	justify-content: right;
	margin-right: var(--panel-spacing);
}

#propertiesPanel .statusbar {
	margin-top: 8px;
	color: red;
}
