.listview {
  margin: 0;
  padding: 4px 0 4px 4px;
  font-weight: bold;
  white-space: nowrap;
  background-color: transparent;
  unicode-bidi: embed;
}

.listview li {
  background: transparent url("../icons/rssItem.png") no-repeat left center;
  list-style-type: none;
  padding-left: 22px;
  margin: 2px 0 2px 0;
  cursor: pointer;
}

.listview li.visited {
  font-weight: normal ;
}

.listview li.selected {
  background-color: lightblue;
}

.listview li.errormsg {
  background: transparent url("../icons/error.png") no-repeat left center;
  color: crimson;
  font-weight: normal;
  cursor: default;
  -moz-user-select: text;
  user-select: text;
}
