.listview {
  margin: 0;
  padding: 4px 0 4px 4px;
  font-weight: bold;
  white-space: nowrap;
  background-color: transparent;
}

  .listview li {
    background: transparent url("../icons/rss.png") no-repeat left center;
    list-style-type: none;
    padding-left: 22px;
    margin-bottom: 3px;
    cursor: pointer;
  }
