@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--rlv-scrollbar-width: 0px;
}

.listview {
	margin: 0;
	padding: 2px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height);
}

.listview li {
	box-sizing: content-box;
	list-style-type: none;
	margin: 0;
	padding: 1px 1px 1px 2px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listview li.bold {
	font-weight: bold ;
}

.listview li.selected {
	background-color: var(--bk-color-active);
}

.listview li.selected:focus {
	outline: 1px dotted gray;
}

.listview li.errormsg {
	background: transparent url("/icons/errormsg.png") no-repeat left top;
	padding-left: 20px;
	color: crimson;
	cursor: default;
	-moz-user-select: text;
	user-select: text;
	white-space: normal;
}

.listview[style*="direction: rtl;"] li.errormsg {
	background-position-x: right;
	padding-right: 20px;
}

#feedItemDescPanel {
	--line-height: 16px;
	display: none;
	max-width: 80%;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	padding: 3px 4px;
	color: black;
	background-color: var(--bk-color-info-window);
	border: 1px solid black;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: var(--line-height);
	overflow: hidden;
}

#feedItemDescPanel > .descTitle {
	max-height: calc(var(--line-height) * 3);
	margin-bottom: calc(var(--line-height) * 0.3);
	font-weight: bold;
	text-decoration: underline;
	overflow: hidden;
}

#feedItemDescPanel > .descBody {
	display: block;
	max-height: calc(var(--line-height) * 12);
	margin-inline-start: 8px;
	overflow: hidden;
}

#feedItemDescPanel > .descBody * {
	font-size: 11px;
	font-weight: normal;
}

#feedItemDescPanel > .descBody p {
	margin: calc(var(--line-height) / 2) 0;
}

#listViewStatusbar {
	display: none;
	position: fixed;
	right: var(--rlv-scrollbar-width);
	bottom: 0;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	background-color: transparent;
	opacity: 0.45;
	color: black;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 11px;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	line-height: 20px;
	white-space: nowrap;
	transition: width 0.5s ease-in 0s, opacity 0.2s ease-in 0s, background-color 0.5s ease-in 0s;
}

#listViewStatusbar[style*="direction: rtl;"] {
	right: unset;
	left: var(--rlv-scrollbar-width);
}

#listViewStatusbar.visible {
	display: block;
}

#listViewStatusbar:hover {
	width: calc(100% - var(--rlv-scrollbar-width));
	opacity: 1;
	background-color: var(--bk-color-info-window);
}

.imgListViewStatusbar {
	margin: 0 2px -3px 2px;
}

#listViewRssTitle {
	padding: 0 5px;
}
