@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--url-img-open-sub-tree: url("/icons/open-0.png");
	--url-img-closed-sub-tree: url("/icons/closed-0.png");
	--url-img-tree-item: url("/icons/rss-0.png");
	--url-img-tree-item-loading: url("/icons/loading-0.gif");
	--url-img-tree-item-error: url("/icons/error-0.png");
}

.treeview {
	margin: 0;
	padding: 4px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height);
}

.treeview ul {
	margin: 0;
	padding: 0;
	cursor: default;
}

/* All <li> elements */
.treeview li {
	list-style-type: none;
	padding-left: var(--rss-tree-indent);
	cursor: default;
}

/* <li> elements that contains sub trees (other ULs) */
.treeview li.rtvSubTree {
	background: transparent no-repeat left calc((var(--line-height) + 2px - 16px) / 2); /* (captionHeight + captionBorders - imageHeight) / 2 */
}

.treeview li.rtvSubTree.open {
	background-image: var(--url-img-open-sub-tree);
}

.treeview li.rtvSubTree.closed {
	background-image: var(--url-img-closed-sub-tree);
}

.treeview li.rtvSubTree.open > ul {
	display: block;
}

.treeview li.rtvSubTree.closed > ul {
	display: none;
}

/* <li> elements that are tree leafs */
.treeview li.rtvTreeItem {
	background: transparent var(--url-img-tree-item) no-repeat left center;
	cursor: pointer;
}

.treeview li.rtvTreeItem.bold {
	font-weight: bold;
}

.treeview li.rtvTreeItem.loading {
	background-image: var(--url-img-tree-item-loading);
	cursor: wait;
}

.treeview li.rtvTreeItem.error {
	background-image: var(--url-img-tree-item-error);
	font-style: italic;
	font-weight: normal;
}

.treeview .rtvCaption {
	box-sizing: content-box;
	min-height: var(--line-height);
	padding: 1px 5px 1px 3px;
	pointer-events: none; /* otherwise the menucontext is not fired */
	overflow: hidden;
	text-overflow: ellipsis;
}

.treeview li.selected > .rtvCaption {
	background-color: var(--bk-color-active);
}

.treeview li.selected:focus > .rtvCaption {
	outline: 1px dotted gray;
}

.treeview li.rtvTreeItem:hover > .rtvCaption {
	text-decoration: underline;
}

.treeview li.dragged {
	opacity: 0.5;
}

.treeview li.dragged > .rtvCaption {
	background-color: transparent;
}

.treeview li.draggedOver > .rtvCaption {
	box-shadow: 0 -2px 0 0 var(--bk-color-window-inverted);
}

.treeview li.rtvSubTree.draggedOver.dropInside > .rtvCaption {
	box-shadow: none;
	color: var(--bk-color-window);
	background-color: var(--bk-color-window-inverted);
}

.treeview li.errormsg {
	background: transparent url("/icons/errormsg.png") no-repeat left top;
	color: crimson;
	cursor: default;
	-moz-user-select: text;
	user-select: text;
	white-space: normal;
}

.treeview[style*="direction: rtl;"] li {
	background-position-x: right;
	padding-right: 20px;
}
