.treeview {
  margin: 0;
  padding: 4px 0 4px 4px;
  font-weight: bold;
  white-space: nowrap;
  background-color: transparent;  
}

.treeview ul {
  margin: 0;
  padding: 0;
}

/* Style for LI elements in general (excludes an LI that contains sub trees) */
.treeview li {
  background: transparent url("../icons/rss.png") no-repeat left center;
  list-style-type: none;
  padding-left: 20px;
  margin: 2px 0 2px 0;
  cursor: pointer;
}

.treeview .caption {
  padding-left: 2px;
  pointer-events: none;
}

/* Style for LI that contains sub trees (other ULs) */
.treeview li.subtree {
  background: transparent url("../icons/closed.png") no-repeat left 1px;
  cursor: default;
}

.treeview li.loading {
  background: transparent url("../icons/loading.gif") no-repeat left center;
  cursor: wait;
}

.treeview li.selected > .caption {
  background-color: lightblue;
}

/* Style for ULs that are children of LIs (subtree). Hide them by default. */
.treeview li.subtree ul {
  display: none;
}

.treeview li.errormsg {
  background: transparent url("../icons/error.png") no-repeat left center;
  color: crimson;
  font-weight: normal;
  cursor: default;
  -moz-user-select: text;
  user-select: text;
}
