@namespace url("http://www.w3.org/1999/xhtml");

.contextmenu {
	--background-color-menu: rgb(241, 241, 241);
	--color-menu: rgb(33, 33, 33);

	display: none;
	position: absolute;
	background-color: var(--background-color-menu);
	min-width: 160px;
	overflow: auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	z-index: 1;
	border: 1px solid #e0e0e0;
	font-weight: normal;
}
.contextmenu:dir(rtl) {
	box-shadow: -3px 3px 10px rgba(0,0,0,0.5);
}

.contextmenu .contextmenuitem {
	display: none;
	color: var(--color-menu);
	padding: 2px 13px;
	text-decoration: none;
	justify-content: space-between;
	white-space: nowrap;
}

.contextmenu .contextmenuitem * {
	pointer-events: none;
}

.contextmenu .contextmenuitem .acceleratorKey {
	margin-inline-start: 15px;
	color: rgb(105, 105, 105);
	width: 22px;
	text-align: center;
}

.contextmenu .contextmenuitem:focus,
.contextmenu .contextmenuitem:focus .acceleratorKey {
	background-color: var(--color-menu);
	color: var(--background-color-menu);
}

.contextmenu hr {
	border: 0.5px solid #e0e0e0;
}

.contextmenu > .treeitemcontext,
.contextmenu > .treeitemunauthorizedcontext,
.contextmenu > .listitemcontext {
	display: none;
}

.contextmenu.treeitemfoldercontext > .treeitemfoldercontext,
.contextmenu.treeitemcontext > .treeitemcontext,
.contextmenu.treeitemunauthorizedcontext > .treeitemunauthorizedcontext,
.contextmenu.listitemcontext > .listitemcontext,
.contextmenu.treecontext > .treecontext,
.contextmenu.listcontext > .listcontext {
	display: flex;
}
