@namespace url("http://www.w3.org/1999/xhtml");

.contextmenu {
	--background-color-menu: rgb(241, 241, 241);
	--color-menu: rgb(33, 33, 33);

	display: none;
	position: absolute;
	background-color: var(--background-color-menu);
	min-width: 160px;
	overflow: auto;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	z-index: 1;
	border: 1px solid #e0e0e0;
	font-weight: normal;
	padding-bottom: 1px;
}
.contextmenu:dir(rtl) {
	box-shadow: -3px 3px 10px rgba(0,0,0,0.5);
}

.contextmenu .ctx-menu-item {
	display: none;
	color: var(--color-menu);
	padding: 2px 13px;
	text-decoration: none;
	justify-content: space-between;
	white-space: nowrap;
}

.contextmenu .ctx-menu-item * {
	pointer-events: none;
}

.contextmenu .ctx-menu-item .acceleratorKey {
	margin-inline-start: 15px;
	color: rgb(105, 105, 105);
	width: 22px;
	text-align: center;
}

.contextmenu .ctx-menu-item:focus,
.contextmenu .ctx-menu-item:focus .acceleratorKey {
	background-color: var(--color-menu);
	color: var(--background-color-menu);
}

.contextmenu hr {
	border: 0.5px solid #e0e0e0;
}

.contextmenu > .tree-item-ctx,
.contextmenu > .tree-item-unauthorized-ctx,
.contextmenu > .list-item-ctx {
	display: none;
}

.contextmenu.tree-item-folder-ctx > .tree-item-folder-ctx:not(.user-hidden),
.contextmenu.tree-item-ctx > .tree-item-ctx:not(.user-hidden),
.contextmenu.tree-item-unauthorized-ctx > .tree-item-unauthorized-ctx:not(.user-hidden),
.contextmenu.list-item-ctx > .list-item-ctx:not(.user-hidden),
.contextmenu.tree-ctx > .tree-ctx:not(.user-hidden),
.contextmenu.list-ctx > .list-ctx:not(.user-hidden) {
	display: flex;
}

.ctx-menu-sep.user-hidden {
	display: none;
}
