@namespace url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

#discoverPanel {
	white-space: nowrap;
	font-weight: normal;
	overflow: hidden;
}

#discoverPanel.loading {
	cursor: wait;
}

#discoverPanel > .captionContainer {
	display: flex;
	justify-content: flex-start;
	margin: 0 0 var(--panel-spacing);
	--item-spacer: 5px;
}

#discoverPanel svg|svg.captionImage {
	width: 16px;
	height: 16px;
	margin-block: auto;
	margin-inline: 0 var(--item-spacer);
	fill: var(--color-sidebar-icons);
}
#discoverPanel svg|svg.captionImage > svg|path {
	d: var(--path-sidebar-ico-feed-rss);
}

#discoverPanel.loading svg|svg.captionImage > svg|path {
	d: none;
}
#discoverPanel.loading svg|svg.captionImage {
	border: 3px solid var(--color-sidebar-icons);
	border-radius: 50%;
	animation: keyframesShrinkExpandLoadAnimation 1.5s ease-in-out infinite;		/* imported from: /sidebar/rssTreeView.css */
}

#discoverPanel .caption {
	margin-block: auto;
	margin-inline: 0 var(--item-spacer);
}

#discoverPanel .captionSpacer {
	margin-block: auto;
	margin-inline: 0 auto;
}

#discoverPanel .button {
	width: 20px;
	height: 20px;
	border-radius: 2px;
	margin-block: auto;
	margin-inline: calc(var(--item-spacer) * 2) 0;
	cursor: default;
}

#discoverPanel #btnCheckmarkAll {
	background: transparent url("/icons/checkmarkall.png") no-repeat center center;
}

#discoverPanel #btnRediscover {
	background: transparent url("/icons/reload.png") no-repeat center center;
}

#discoverPanel.loading #btnRediscover {
	background: transparent url("/icons/abort.png") no-repeat center center;
}

#discoverPanel .button:hover {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted-alfa);
}

#discoverPanel .button:active {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted);
}

#discoverPanel .button.disabled,
#aggressiveDiscoveryContainer.disabled {
	filter: grayscale(100%) opacity(40%);
}

#discoverFeedsList {
	list-style: none;
	padding: 0;
	margin: 0 0 var(--panel-spacing);
	min-height: 140px;
	max-height: 140px;
	overflow: auto;
	background-color: var(--bk-color-window);
	border: 1px solid #252525;
}

#discoverFeedsList .dfItem {
	--item-height: 29px;

	padding: 0 7px;
	display: flex;
	justify-content: flex-start;
	min-height: var(--item-height);
}

#discoverFeedsList .dfItem.novalidfeeds {
	color: gray;
	font-style: italic;
	border-bottom: 0;
}

#discoverFeedsList .dfChkBox {
	margin: auto;
	outline: none;
}

#discoverFeedsList .dfLabel {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	padding-inline-start: 3px;
	width: 100%;
	margin-block: auto;
	margin-inline: 3px 0;
	pointer-events: none;
}

#discoverFeedsList .dfLabel .dfLabelCaption {
	width: 275px;
	margin-block: 0;
	margin-inline: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

#discoverFeedsList .dfItem:focus .dfLabel {
	outline: 1px dotted gray;
}

#discoverFeedsList .dfLabel .dfLabelFormat {
	max-width: 40px;
	margin: auto 0 auto 0;
	color: gray;
	vertical-align: text-bottom;
	padding-inline-end: 3px;
}

.dfButtonContainer {
	display: flex;
	justify-content: flex-end;
}

#aggressiveDiscoveryContainer {
	margin-block: auto;
	margin-inline: 0 auto;
}

#aggressiveDiscoveryContainer > .captionAggressiveLevel {
	height: 14px;
	line-height: 11px;
}

#triTglAggressiveLevel {
	--height-total: 14px;
	--width-total: 108px;

	--font-size-caption: 11px;
	--border-size: 1px;
	--border-radius: 2px;
	--margin-triTogglerRail: 0px;

	--height-content: calc(var(--height-total) - var(--margin-triTogglerRail)*2);
	--width-content: calc(var(--width-total) - var(--margin-triTogglerRail)*2);
	--border-radius-content: calc(var(--border-radius) - 1px);

	--width-toggle: calc(var(--width-content) / 3);
}

#discoverPanel .statusbar {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#discoverPanel .statusbar.error {
	color: red;
}

/* triToggler - Tri-State Toggle Control */

sl-tri-toggler#triTglAggressiveLevel {
	display: block;
	box-sizing: content-box;
	min-height: var(--height-total);
	max-height: var(--height-total);
	min-width: var(--width-total);
	max-width: var(--width-total);
	border: var(--border-size) solid #7f7f7f;
	border-radius: var(--border-radius);
	background-color: #d3d3d3;
	line-height: var(--height-content);
	position: relative;
	overflow: hidden;
}

sl-tri-toggler:focus {
	outline: 1px dotted gray;
	outline-offset: -2px;
}

sl-tri-toggler * {
	box-sizing: inherit;
	display: block;
}

sl-tri-toggler-rail {
	margin: var(--margin-triTogglerRail);
	pointer-events: auto;
	cursor: pointer;
	transition: padding-inline-start 100ms linear 0ms;
}

sl-tri-toggler-marker {
	height: var(--height-content);
	width: var(--width-toggle);
	pointer-events: none;
	transition: background-color 100ms linear 0ms;
}

sl-tri-toggler-captions {
	display: flex;
	padding: var(--margin-triTogglerRail);
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

sl-tri-toggler-caption.triTgglerCaption {
	height: var(--height-content);
	width: var(--width-toggle);
	flex-grow: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: var(--font-size-caption);
	text-align: center;
	background-color: transparent;
	color: #434343;
	box-shadow: inset 0 0 calc(var(--border-size) * 2) 0 rgba(0, 0, 0, 0.5);
}

sl-tri-toggler-caption:first-child {
	border-radius: var(--border-radius-content) 0 0 var(--border-radius-content);
}

sl-tri-toggler-caption:last-child {
	border-radius: 0 var(--border-radius-content) var(--border-radius-content) 0;
}

sl-tri-toggler[data-toggler-state="0"] > sl-tri-toggler-rail { padding-inline-start: 0; }
sl-tri-toggler[data-toggler-state="1"] > sl-tri-toggler-rail { padding-inline-start: var(--width-toggle); }
sl-tri-toggler[data-toggler-state="2"] > sl-tri-toggler-rail { padding-inline-start: calc(var(--width-toggle) * 2); }

sl-tri-toggler[data-toggler-state="0"] sl-tri-toggler-marker { background-color: #505050; }
sl-tri-toggler[data-toggler-state="1"] sl-tri-toggler-marker { background-color: #a800a8; }
sl-tri-toggler[data-toggler-state="2"] sl-tri-toggler-marker { background-color: #e80000; }

sl-tri-toggler[data-toggler-state="0"] sl-tri-toggler-caption#triTogglerState0,
sl-tri-toggler[data-toggler-state="1"] sl-tri-toggler-caption#triTogglerState1,
sl-tri-toggler[data-toggler-state="2"] sl-tri-toggler-caption#triTogglerState2 {
	color: white;
	box-shadow: none;
}
