@namespace url("http://www.w3.org/1999/xhtml");

.info-bubble {
	--height-arrow: 28px;
	--width-arrow: calc(var(--height-arrow) / 2);
	--border-width-bubble: 3px;
	--border-radius-bubble: 6px;
	--color-normal: #143cdc;
	--color-alertive: crimson;

	position: absolute;
	display: none;
	max-width: min(300px, calc(100vw - 20px));
	border: var(--border-width-bubble) solid var(--color-normal);
	border-radius: var(--border-radius-bubble);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
	font-weight: normal;
	z-index: 100;
}
.info-bubble:dir(rtl) {
	box-shadow: -6px 6px 10px rgba(0,0,0,0.5);
}
.info-bubble.alertive {
	border-color: var(--color-alertive);
}

.info-bubble::after {
	content: "";
	position: absolute;
	left: var(--arrow-x, 50%);
	margin-left: calc(var(--width-arrow) / -2);
	border-style: solid;
	border-color: transparent;
	border-inline-width: calc(var(--width-arrow) / 2);
	transform: rotate(var(--arrow-rotation, 0deg));
	z-index: -1;
}
.info-bubble.below::after {
	bottom: 100%;
	border-block-width: 0 var(--height-arrow);
	border-block-end-color: var(--color-normal);
	transform-origin: bottom center;
}
.info-bubble.above::after {
	top: 100%;
	border-block-width: var(--height-arrow) 0;
	border-block-start-color: var(--color-normal);
	transform-origin: top center;
}
.info-bubble.alertive.below::after {
	border-block-end-color: var(--color-alertive);
}
.info-bubble.alertive.above::after {
	border-block-start-color: var(--color-alertive);
}
.info-bubble.no-arrow::after {
	content: none;
}

.info-bubble.fadeIn {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 500ms;
}

.info-bubble.fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 500ms, opacity 500ms;
}

.info-bubble-container {
	display: flex;
	align-items: flex-start;
	gap: 6px;
	background-color: var(--bk-color-info-window);
	color: black;
	border-radius: calc(var(--border-radius-bubble) - var(--border-width-bubble));
	padding-block: 6px;
	padding-inline: 6px 10px;
}

.info-bubble-icon {
	--image-size: 16px;
	width: var(--image-size);
	height: var(--image-size);
	flex-shrink: 0;
	margin-top: calc((var(--line-height) - var(--image-size)) / 2);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.info-bubble:not(.alertive) .info-bubble-icon {
	background-image: url("/icons/blueInfo.png");
}
.info-bubble.alertive .info-bubble-icon {
	background-image: url("/icons/errormsg.png");
}
