@namespace url("http://www.w3.org/1999/xhtml");

#messagePanel {
	font-weight: normal;
	overflow: hidden;
}

#messagePanel.alertive .captionImage {
	background: transparent url("/icons/errormsg.png") no-repeat center center;
}

#messagePanel > .captionContainer {
	display: flex;
	justify-content: flex-start;
	margin: 0 0 var(--panel-spacing);
}

#messagePanel .captionImage {
	background: transparent url("/icons/sageLike-16.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin-block: auto;
	margin-inline: 0 8px;
}

#msgCaption {
	margin: 0;
}

#msgText {
	width: 100%;
	word-wrap: normal;
	padding-inline-start: 16px;
	max-height: calc(var(--line-height) * 25);
	margin-bottom: var(--panel-spacing);
	overflow: hidden;
	font-size: 13px;
}

#messagePanel .gridContainer {
	--border-color: grey;
	display: grid;
	grid-template-columns: auto 120px;
	width: calc(100% - var(--panel-spacing));
	margin-block: 6px;
	border: 1px solid var(--border-color);
}

.gridItem {
	padding: 2px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: black;
}
.gridItem.row:nth-child(2n+1),
.gridItem.row:nth-child(2n+2) {
	background-color: #e3e3e3;
}
.gridItem.row:nth-child(4n+1),
.gridItem.row:nth-child(4n+2) {
	background-color: #ffffe5;
}
.gridItem:nth-child(odd) {
	border-inline-end: 1px solid var(--border-color);
}
.gridItem:not(:nth-last-child(-n+2)) {
	border-bottom: 1px solid var(--border-color);
}
.gridItem.header {
	background-color: #0F8528;
	color: #f0f0fa;
	text-align: center;
	font-weight: bold;
}
.gridItem.row.text {
	text-align: start;
}
.gridItem.row.value {
	text-align: center;
}

.dottedUnderline {
	text-decoration: underline;
	text-decoration-style: dotted;
}

.smallText {
	--text-height: 10px;
	line-height: calc(var(--text-height) * 1.2);
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: var(--text-height);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.buttonSet {
	display: none;
	justify-content: flex-end;
	margin-inline-end: var(--panel-spacing);
}

.buttonSet.visible {
	display: flex;
}
