@namespace url("http://www.w3.org/1999/xhtml");

#messagePanel {
	font-weight: normal;
	overflow: hidden;
}

#messagePanel.alertive .captionImage {
	background: transparent url("/icons/errormsg.png") no-repeat center center;
}

#messagePanel > .captionContainer {
	display: flex;
	justify-content: left;
	margin: 0 0 var(--panel-spacing);
}

#messagePanel .captionImage {
	background: transparent url("/icons/sageLike-16.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin: auto 8px auto 0;
}

#msgCaption {
	margin: 0;
}

#msgText {
	width: 100%;
	word-wrap: normal;
	text-align: center;
	max-height: calc(var(--line-height) * 15);
	margin-bottom: var(--panel-spacing);
	overflow: hidden;
	font-size: 13px;
}

#msgText.leftAlign {
	text-align: left;
}

.buttonSet {
	display: none;
	justify-content: right;
	margin-right: var(--panel-spacing);
}

.buttonSet.visible {
	display: flex;
}
