@import "/shared/common.css";
@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--toolbar-height: 31px;
	--toolbar-button-size: 18px;
	--top-height: 60%;
	--splitter-height: 5px;
	--line-height: 19px;

	--line-height-rss-view: var(--line-height);	/* UI density: Comfortable */
	--rss-tree-indent: 18px;					/* UI density: Comfortable */

	--bk-color-window: #F3F3F3;
	--bk-color-window-contrasted: #000000;
	--bk-color-dialog: #E3E3E3;
	--bk-color-dialog-contrasted: #000000;
	--bk-color-dialog-contrasted-alfa: #00000080;
	--bk-color-active: #F3C8BA;
	--bk-color-active-contrasted: #000000;
	--bk-color-info-window: #FFFEDF;
	--color-text: #000000;

	--bk-color-feed-item-desc: #FFFDAC;
	--color-text-feed-item-desc: #000000;

	--panel-spacing: 10px;

	--font-default-fallback: Tahoma;

	--font-sidebar: Tahoma;
	--font-family-sidebar-fallback: var(--font-default-fallback), Verdana, Segoe, sans-serif;
	--font-family-sidebar: var(--font-sidebar), var(--font-family-sidebar-fallback);

	--transition-duration-slide-down-panel: 300ms;			/* 0.001ms for no duration, 0ms for no transition. */
}

:focus {
	outline: none;
}

html, body {
	height: 100%;
	line-height: var(--line-height);
	background-color: var(--bk-color-window);
	color: var(--color-text);
	overflow-x: hidden;
	margin: 0;
	box-sizing: border-box;
}
body * {
	box-sizing: inherit;
}

.top {
	position: fixed;
	top: var(--toolbar-height);
	width: 100%;
	height: var(--top-height);
	overflow-y: auto;
}

.bottom {
	position: fixed;
	top: calc(var(--top-height) + var(--splitter-height));
	width: 100%;
	height: auto;
	overflow-y: auto;
}

.splitter {
	position: fixed;
	top: var(--top-height);
	width: 100%;
	height: var(--splitter-height);
	background-color: var(--bk-color-dialog);
	cursor: ns-resize;
	border: solid #7f7f7f;
	border-width: 1px 0;
}

.toolbar {
	--buttons-spacer: 8px;
	width: 100%;
	height: var(--toolbar-height);
	background-color: var(--bk-color-dialog);
	border-top: 1px #7f7f7f solid;
	border-bottom: 1px #7f7f7f solid;
	padding: 5px var(--buttons-spacer);
	display: flex;
	justify-content: left;
	overflow: hidden;
}

.toolbar .button {
	width: var(--toolbar-button-size);
	height: var(--toolbar-button-size);
	min-width: var(--toolbar-button-size);
	border-radius: 2px;
	margin: auto var(--buttons-spacer) auto 0;
}

.toolbar .button:last-child {
	margin: auto 0;
}

.toolbar .button.alert {
	filter: drop-shadow(0 0 4px crimson);
}

.toolbar .button:hover {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted-alfa);
}

.toolbar .button:active {
	box-shadow: 0 0 4px 2px var(--bk-color-dialog-contrasted);
}

.spacer {
	width: var(--buttons-spacer);
	min-width: var(--buttons-spacer);
	height: 16px;
	pointer-events: none;
}

.springSpacer {
	margin: auto;
}

#filterWidget {
	--width-filter-image: 16px;
	--width-filter-text: 125px;
	--width-filter-reapply: var(--toolbar-button-size);
	--margin-right-filter-button: 4px;
	--width-filter-clear: var(--toolbar-button-size);
	--width-container: calc(var(--width-filter-image) + var(--width-filter-text) + var(--width-filter-reapply) + var(--margin-right-filter-button) + var(--width-filter-clear) + 2px);	/* 2px => border*/

	--transition-speed-factor: 0.8;
	--trans-duration-filter-button: calc(100ms * var(--transition-speed-factor));
	--trans-delay-filter-button: calc(200ms * var(--transition-speed-factor));
	--trans-duration-filter-box: calc(300ms * var(--transition-speed-factor));
	--trans-delay-filter-box: calc(0ms * var(--transition-speed-factor));

	display: flex;
}

#filterWidget .button {
	margin-right: 0;
}

#filter.button {
	transition: width var(--trans-duration-filter-button) linear var(--trans-delay-filter-button),
				min-width var(--trans-duration-filter-button) linear var(--trans-delay-filter-button);
}

#filterTextBoxContainer {
	display: none;
	border: 0 solid #7f7f7f;
	overflow: hidden;
	width: 0;
	min-width: 0;
	height: 20px;
	pointer-events: none;
	transition: width var(--trans-duration-filter-box) ease-out var(--trans-delay-filter-box),
				min-width var(--trans-duration-filter-box) ease-out var(--trans-delay-filter-box),
				border-width var(--trans-duration-filter-box) ease-out var(--trans-delay-filter-box);
}

#filterTextBoxContainer.visibleOverflow {
	overflow: visible;
}

#imageFilter {
	width: var(--width-filter-image);
	height: var(--toolbar-button-size);
	background: -moz-Field url("/icons/filter-12.png") no-repeat 2px center;
}

#textFilter {
	border: 0;
	padding: 1px 1px 1px 0;
	width: var(--width-filter-text);
	height: var(--toolbar-button-size);
}

#filterTextBoxContainer .button {
	border-radius: 0;
}

#filterTextBoxContainer .button:not(:last-child) {
	margin-right: var(--margin-right-filter-button)
}

#filterWidget.opened > #filter.button {
	--trans-delay-filter-button: 0ms;
	width: 0;
	min-width: 0;
	margin-right: 0;
}

#filterWidget.opened > #filterTextBoxContainer {
	border-width: 1px;
	width: var(--width-container);
	min-width: var(--width-container);
	pointer-events: auto;
}

#filterWidget.filterTextOn #imageFilter,
#filterWidget.filterTextOn #textFilter {
	background-color: rgb(255, 220, 154);
}

#filterWidget.filterRegExpOn #imageFilter,
#filterWidget.filterRegExpOn #textFilter {
	background-color: rgb(177, 227, 255);
}

#filterWidget.filterFolderTitleOn #imageFilter,
#filterWidget.filterFolderTitleOn #textFilter {
	background-color: rgb(255, 203, 193);
}

#filterWidget.filterUrlOn #imageFilter,
#filterWidget.filterUrlOn #textFilter {
	background-color: rgb(255, 190, 255);
}

#filterWidget.filterUpdateTimeOn #imageFilter,
#filterWidget.filterUpdateTimeOn #textFilter {
	background-color: rgb(255, 245, 186);
}

#filterWidget.filterStatusOn #imageFilter,
#filterWidget.filterStatusOn #textFilter {
	background-color: rgb(170, 255, 170);
}

#checkTreeFeeds {
	background: transparent url("/icons/reload.png") no-repeat center center;
}
#discoverfeed {
	background: transparent url("/icons/discover.png") no-repeat center center;
}
#markAllRead {
	background: transparent url("/icons/mark-all-read.png") no-repeat center center;
}
#markAllUnread {
	background: transparent url("/icons/mark-all-unread.png") no-repeat center center;
}
#expandall {
	background: transparent url("/icons/expandall.png") no-repeat center center;
}
#collapseall {
	background: transparent url("/icons/collapseall.png") no-repeat center center;
}
#filter {
	background: transparent url("/icons/filter.png") no-repeat center center;
}
#reapplyFilter {
	background: transparent url("/icons/filter-reapply.png") no-repeat center center;
}
#clearFilter {
	background: transparent url("/icons/filter-clear.png") no-repeat center center;
}
#preferences {
	background: transparent url("/icons/preferences.png") no-repeat center center;
}

.slideDownPanel {
	position: absolute;
	top: -500px;
	left: 0;
	box-sizing: border-box;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	background-color: var(--bk-color-dialog);
	box-shadow: 13px 13px 5px 0 rgba(0, 0, 0, 0.75);
	padding: 10px;
	border: 1px solid black;
	border-top: 50px solid #888888;
	border-radius: 0 0 6px 6px;
	z-index: 1;
	transition: top var(--transition-duration-slide-down-panel) cubic-bezier(0.7, 0, 0.2, 1.5) 0ms;
	display: none;
}

.slideDownPanel.visible {
	top: -50px;
	min-width: 300px;
	width: calc(100% - 1px);
}

.disabled {
	pointer-events: none;
}

.disabledBlur {
	filter: blur(1.5px);
}

.smallText {
	--text-height: 10px;
	line-height: calc(var(--text-height) * 1.2);
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: var(--text-height);
}

.dlgButton {
	padding: 1px 3px;
	background-color: rgb(251, 251, 251);
	border: 1px solid rgb(193, 193, 193);
	border-radius: 2px;
	height: 30px;
	width: 100px;
	text-align: center;
	margin-left: 10px;
}

.dlgButton:hover {
	background-color: rgb(235, 235, 235);
}

.dlgButton:active:hover {
	background-color: rgb(218, 218, 218);
}

#busyAnimTreeLoading {
	--size-image: 50px;
	--color-image: var(--bk-color-window-contrasted);
	display: none;
	width: var(--size-image);
	height: var(--size-image);
	position: fixed;		/* performance: remove animations from the flow */
	left: calc(50% - (var(--size-image) / 2));
	margin-top: 10%;
	border-radius: 50%;
	border: 8px solid var(--color-image);
	border-color: var(--color-image) var(--color-image) var(--color-image) transparent;
	animation: busyAnimTreeLoadingFrames 0.7s linear infinite;
}
@keyframes busyAnimTreeLoadingFrames {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#busyAnimTreeLoading.visible {
	display: block;
}
