@namespace url("http://www.w3.org/1999/xhtml");

#propertiesPanel {
	white-space: nowrap;
	font-weight: normal;
	overflow: hidden;
}

#propertiesPanel > .captionContainer {
	display: flex;
	justify-content: flex-start;
	margin: 0 0 var(--panel-spacing);
}

#propertiesPanel .captionImage {
	background: transparent url("/icons/sageLike-16.png") no-repeat center center;
	width: 16px;
	height: 16px;
	margin-block: auto;
	margin-inline: 0 8px;
}

#propertiesPanel .caption {
	margin: 0;
}

.propContainer {
	display: flex;
	margin: var(--panel-spacing);
}

.propContainer label {
	width: 65px;
	flex-grow: 0;
}

.propContainer label:last-child {
	width: auto;
}

.propContainer input[type="text"] {
	flex-grow: 1;
	font-size: inherit;
}

.propContainer > input[type="checkbox"]:first-child {
	margin-block: auto;
	margin-inline: 0 5px;
}

.propContainer > input[type="checkbox"]:first-child:focus + label {
	outline: 1px dotted gray;
}

.propertiesContainer.showFirstOnly .propContainer:not(:first-child) {
	display: none;
}

#txtFpFeedMaxItems {
	width: 60px;
	flex-grow: 0;
	margin-block: auto;
	margin-inline: auto 0;
}

.fpButtonContainer {
	display: flex;
	justify-content: flex-end;
	margin-inline-end: var(--panel-spacing);
}

#propertiesPanel .statusbar {
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: red;
}
