@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--list-view-scrollbar-width: 0px;
}

#rssListView {
	margin: 0;
	padding: 2px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height-rss-view);
	-moz-user-select: none;
	user-select: none;
}

#rssListView li.rlvListItem {
	box-sizing: content-box;
	list-style: none;
	margin: 0;
	padding: 1px 1px 1px 2px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* this selector string is tested in rssListView.js */
#rssListView li.bold {
	font-weight: bold;
	/* font-size: 1.05em;		This rule is set/unset in JS via a preference */
}

#rssListView li.selected {
	background-color: var(--bk-color-active);
	color: var(--bk-color-active-contrasted);
}

#rssListView li.selected:focus {
	outline: 1px dotted gray;
}

#rssListView li.errormsg {
	--image-top: calc((var(--line-height-rss-view) - var(--tree-image-size)) / 2);
	padding-inline-start: var(--rss-tree-indent);
	list-style: none;
	background: rgb(255, 255, 220) url("/icons/errormsg.png") no-repeat left var(--image-top) / var(--tree-image-size) var(--tree-image-size);
	color: crimson;
	cursor: default;
	-moz-user-select: text;
	user-select: text;
	white-space: normal;
}

#rssListView[style*="direction: rtl;"] li.errormsg {
	background-position-x: right;
}

#feedItemDescPanel {
	--line-height: 16px;
	display: none;
	max-width: 80%;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	padding: 3px 4px;
	color: var(--color-text-feed-item-desc);
	background-color: var(--bk-color-feed-item-desc);
	border: 1px solid var(--color-text-feed-item-desc);
	box-shadow: 13px 13px 5px 0 rgba(0,0,0,0.75);
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: var(--line-height);
	overflow: hidden;
}

#feedItemDescPanel > .descTitle {
	max-height: calc(var(--line-height) * 3);
	margin-bottom: calc(var(--line-height) * 0.3);
	font-weight: bold;
	overflow: hidden;
}

#feedItemDescPanel > .descBody {
	display: block;
	max-height: calc(var(--line-height) * 12);
	overflow: hidden;
}

#feedItemDescPanel > .descBody * {
	font-size: 11px;
	font-weight: normal;
	background-color: transparent;
	padding: 0;
	height: unset;
	width: unset;
	text-align: unset;
	vertical-align: unset;
}

#feedItemDescPanel > .descBody p {
	margin: calc(var(--line-height) / 2) 0;
}

#feedItemDescPanel > .descAttachments {
	display: none;
	flex-wrap: wrap;
	border-top: 1px solid var(--color-text-feed-item-desc);
	margin-top: 3px;
}

#feedItemDescPanel > .descAttachments img {
	--size-attachment: 18px;
	--margin-attachment: 5px;
	display: block;
	width: var(--size-attachment);
	height: var(--size-attachment);
	margin-block-start: var(--margin-attachment);
	margin-inline-end: var(--margin-attachment);
	filter: drop-shadow(0 0 0.75rem white);
}

#feedItemDescPanel > .descAttachments.notEmpty {
	display: flex;
}

#listViewStatusbar {
	display: none;
	position: fixed;
	right: var(--list-view-scrollbar-width);
	bottom: 0;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	background-color: transparent;
	opacity: 0.45;
	color: black;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: normal;
	font-size: 11px;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	line-height: 20px;
	white-space: nowrap;
	transition: width 0.5s ease-in 0s, opacity 0.2s ease-in 0s, background-color 0.5s ease-in 0s;
}

#listViewStatusbar[style*="direction: rtl;"] {
	right: unset;
	left: var(--list-view-scrollbar-width);
}

#listViewStatusbar.visible {
	display: block;
}

#listViewStatusbar:hover {
	width: calc(100% - var(--list-view-scrollbar-width));
	opacity: 1;
	background-color: var(--bk-color-info-window);
}

.imgListViewStatusbar {
	margin: 0 2px -3px 2px;
}

#listViewRssTitle {
	padding: 0 5px;
}
