@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--url-img-open-folder: url("/icons/open-0.png");
	--url-img-closed-folder: url("/icons/closed-0.png");
	--url-img-tree-item: url("/icons/rss-0.png");
	--url-img-tree-item-loading: url("/icons/loading-0.gif");
	--url-img-tree-item-error: url("/icons/error-0.png");
}

.treeview {
	margin: 0;
	padding: 4px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height-rss-view);
}

.treeview ul {
	margin: 0;
	padding: 0;
	cursor: default;
}

/* All <li> elements */
.treeview li.rtvTreeItem {
	list-style-type: none;
	padding-inline-start: var(--rss-tree-indent);
	cursor: default;
}

/* <li> elements that contains folders (other ULs) */
.treeview li.rtvTreeFolder {
	background: transparent no-repeat left calc((var(--line-height-rss-view) + 2px - 16px) / 2); /* (captionHeight + captionBorders - imageHeight) / 2 */
}

.treeview li.rtvTreeFolder.open {
	background-image: var(--url-img-open-folder);
}

.treeview li.rtvTreeFolder.closed {
	background-image: var(--url-img-closed-folder);
}

.treeview li.rtvTreeFolder.open > ul {
	display: block;
}

.treeview li.rtvTreeFolder.closed > ul {
	display: none;
}

/* <li> elements that are tree leafs */
.treeview li.rtvTreeFeed {
	background: transparent var(--url-img-tree-item) no-repeat left center;
	cursor: pointer;
}

.treeview li.rtvTreeFeed.bold {
	font-weight: bold;
}

.treeview li.rtvTreeFeed.loading {
	background-image: var(--url-img-tree-item-loading);
	cursor: wait;
}

.treeview li.rtvTreeFeed.error {
	background-image: var(--url-img-tree-item-error);
	font-style: italic;
	font-weight: normal;
}

.treeview .rtvCaption {
	box-sizing: content-box;
	min-height: var(--line-height-rss-view);
	padding: 1px 5px 1px 0;
	pointer-events: none; /* otherwise the menucontext is not fired */
	display: flex;
	align-items: flex-end;
}

.treeview .rtvCaptionTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-inline-start: 3px;
	padding-inline-end: 8px;
}

.treeview .rtvCaptionStats {
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
	filter: opacity(65%);
}

.treeview .rtvCaptionStats.hidden {
	display: none;
}

.treeview li.selected > .rtvCaption {
	background-color: var(--bk-color-active);
	color: var(--bk-color-active-contrasted);
}

.treeview li.selected:focus > .rtvCaption {
	outline: 1px dotted gray;
}

.treeview li.rtvTreeFeed:hover > .rtvCaption > .rtvCaptionTitle {
	text-decoration: underline;
}

.treeview li.dragged {
	opacity: 0.5;
}

.treeview li.dragged > .rtvCaption {
	background-color: transparent;
}

.treeview li.draggedOver > .rtvCaption {
	box-shadow: 0 -2px 0 0 var(--bk-color-window-contrasted);
}

.treeview li.rtvTreeFolder.draggedOver.dropInside > .rtvCaption {
	box-shadow: none;
	color: var(--bk-color-window);
	background-color: var(--bk-color-window-contrasted);
}

.treeview li.errormsg {
	padding-inline-start: var(--rss-tree-indent);
	background: transparent url("/icons/errormsg.png") no-repeat left top;
	color: crimson;
	cursor: default;
	-moz-user-select: text;
	user-select: text;
	white-space: normal;
}

.treeview[style*="direction: rtl;"] li {
	background-position-x: right;
	padding-right: 20px;
}

.treeview.hidden,
.treeview li.rtvTreeItem.filtered {
	display: none;
}
