@namespace url("http://www.w3.org/1999/xhtml");

:root {
	--tree-view-scrollbar-width: 0px;

	--url-img-open-folder: url("/icons/open-0.png");
	--url-img-closed-folder: url("/icons/closed-0.png");
	--url-img-tree-item: url("/icons/rss-0.png");
	--url-img-tree-item-loading: url("/icons/loading-0.gif");
	--url-img-tree-item-error: url("/icons/error-0.png");
	--url-img-tree-item-unauthorized: url("/icons/unauthorized-0.png");

	--default-tree-image-size: 16px;
	--addend-tree-image-size: 0px;
	--tree-image-size: calc(var(--default-tree-image-size) + var(--addend-tree-image-size));
}

#rssTreeView {
	margin: 0;
	padding: 4px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height-rss-view);
	-moz-user-select: none;
	user-select: none;
}

#rssTreeView ul {
	margin: 0;
	padding: 0;
	cursor: default;
}

/* All <li> elements */
#rssTreeView li.rtvTreeItem {
	list-style-type: none;
	padding-inline-start: var(--rss-tree-indent);
	cursor: default;
}

/* <li> elements that contains folders (other ULs) */
#rssTreeView li.rtvTreeFolder {
	background: transparent no-repeat left calc((var(--line-height-rss-view) + 2px - var(--tree-image-size)) / 2) / var(--tree-image-size) var(--tree-image-size); /* (captionHeight + captionBorders - imageHeight) / 2 */
}

#rssTreeView li.rtvTreeFolder.open {
	background-image: var(--url-img-open-folder);
}

#rssTreeView li.rtvTreeFolder.closed {
	background-image: var(--url-img-closed-folder);
}

#rssTreeView li.rtvTreeFolder.open > ul {
	display: block;
}

#rssTreeView li.rtvTreeFolder.closed > ul {
	display: none;
}

/* <li> elements that are tree leafs */
#rssTreeView li.rtvTreeFeed {
	background: transparent var(--url-img-tree-item) no-repeat left center / var(--tree-image-size) var(--tree-image-size);
	cursor: pointer;
}

#rssTreeView li.rtvTreeFeed.bold {
	font-weight: bold;
}

#rssTreeView li.rtvTreeFeed.loading {
	background-image: var(--url-img-tree-item-loading);
	cursor: wait;
}

#rssTreeView li.rtvTreeFeed.error {
	background-image: var(--url-img-tree-item-error);
	font-style: italic;
	font-weight: normal;
}
#rssTreeView li.rtvTreeFeed.error.unauthorized {
	background-image: var(--url-img-tree-item-unauthorized);
}

#rssTreeView .rtvCaption {
	box-sizing: content-box;
	min-height: var(--line-height-rss-view);
	padding: 1px 5px 1px 0;
	pointer-events: none; /* otherwise the menucontext is not fired */
	display: flex;
	align-items: flex-end;
}

#rssTreeView .rtvCaptionTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-inline-start: 3px;
	padding-inline-end: 8px;
}

#rssTreeView .rtvCaptionStats {
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
	filter: opacity(65%);
}

#rssTreeView .rtvCaptionStats.hidden {
	display: none;
}

#rssTreeView li.selected > .rtvCaption {
	background-color: var(--bk-color-active);
	color: var(--bk-color-active-contrasted);
}

#rssTreeView li.selected:focus > .rtvCaption {
	outline: 1px dotted gray;
}

#rssTreeView li.rtvTreeFeed:hover > .rtvCaption > .rtvCaptionTitle {
	text-decoration: underline;
}

#rssTreeView li.dragged {
	opacity: 0.5;
}

#rssTreeView li.dragged > .rtvCaption {
	background-color: transparent;
}

#rssTreeView li.draggedOver > .rtvCaption {
	box-shadow: 0 -2px 0 0 var(--bk-color-window-contrasted);
}

#rssTreeView li.rtvTreeFolder.draggedOver.dropInside > .rtvCaption {
	box-shadow: none;
	color: var(--bk-color-window);
	background-color: var(--bk-color-window-contrasted);
}

#rssTreeView li.errormsg {
	padding-inline-start: var(--rss-tree-indent);
	background: transparent url("/icons/errormsg.png") no-repeat left top;
	color: crimson;
	cursor: default;
	-moz-user-select: text;
	user-select: text;
	white-space: normal;
}

#rssTreeView[style*="direction: rtl;"] li {
	background-position-x: right;
	padding-right: 20px;
}

#rssTreeView.hidden,
#rssTreeView li.rtvTreeItem.filtered {
	display: none;
}

#treeViewIndicator {
	display: none;
	position: fixed;
	right: var(--tree-view-scrollbar-width);
	top: var(--toolbar-height);
	width: 16px;
	height: 16px;
	opacity: 0.45;
}
#treeViewIndicator:hover {
	opacity: 1;
}

#rssTreeView.filteredItems + #treeViewIndicator {
	display: block;
}
#rssTreeView.disabled + #treeViewIndicator {
	right: 0;
	top: 0;
}

#top[style*="direction: rtl;"] > #treeViewIndicator {
	right: unset;
	left: var(--tree-view-scrollbar-width);;
}
