@namespace url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");

:root {
	--tree-view-scrollbar-width: 0px;

	--color-sidebar-icons: #ff00ff;

	--path-sidebar-ico-folder-open: path("M0 12.78V2.41c0-.46.23-.86.59-1.14.11-.08.22-.14.35-.19.2-.07.29-.08.5-.08h4.84c.07 0 .16 0 .22.02.12.04.39.34.5.45l1.09 1.09c.11.1.35.38.47.42.06.02.16.02.22.02h2.78c.8 0 1.44.64 1.44 1.44V6H4.88c-.75 0-1.36.21-1.83.81-.18.23-.53.98-.68 1.28L.79 11.25l-.5 1c-.08.16-.18.4-.29.53ZM0 15c.06-.19.27-.58.37-.78l.65-1.31 2.07-4.13.43-.87c.27-.55.41-.91 1.1-.91H15c.7 0 1.15.61.96 1.28-.05.16-.21.46-.3.63l-.56 1.12-1.75 3.5-.31.63c-.26.52-.42.84-1.07.84H0Z");
	--path-sidebar-ico-folder-closed: path("M1.19 1.01h5.09c.07-.01.16-.01.22 0 .12.05.39.35.5.46l1.09 1.09c.11.1.35.38.47.42.06.02.16.02.22.02h2.78c.8 0 1.44.64 1.44 1.44v6.87c0 .8-.64 1.44-1.44 1.44H1.44c-.8 0-1.44-.64-1.44-1.44V2.19c.09-.43.36-.78.72-1 .15-.09.29-.14.47-.18Z");
	--path-sidebar-ico-feed-rss: path("M3.39 10.71c-1.04.01-1.88.85-1.88 1.89s.85 1.88 1.89 1.88 1.88-.84 1.89-1.88c-.01-1.04-.85-1.89-1.9-1.89ZM1.5 5.83v2.71c1.62 0 3.19.48 4.33 1.63 1.15 1.14 1.63 2.7 1.63 4.33h2.71c0-4.74-3.93-8.67-8.67-8.67Zm0-4.33v2.71c5.79 0 10.29 4.5 10.29 10.29h2.71c0-7.17-5.82-13-13-13Z");
	--path-sidebar-ico-feed-error: path("M15.82 13.03 9.16 1.66c-.51-.88-1.8-.88-2.32 0L.18 13.03C-.33 13.9.31 15 1.34 15h13.33c1.02 0 1.66-1.09 1.15-1.97ZM7.25 5.25c0-.41.34-.75.75-.75s.75.34.75.75v4c0 .41-.34.75-.72.75-.39 0-.78-.33-.78-.75v-4ZM8 13c-.54 0-.98-.44-.98-.98 0-.55.44-.98.98-.98s.98.43.98.98c0 .54-.44.98-.98.98Z");
	--path-sidebar-ico-feed-unauthorized: path("M2.7 15h10.6c.38 0 .7-.31.7-.69V7.69c0-.38-.31-.69-.7-.69h-.68v-.97c0-1.29-.5-2.73-1.33-3.6C10.47 1.56 9.29 1 8 1s-2.47.56-3.29 1.42c-.83.87-1.33 2.31-1.33 3.61V7H2.7c-.39 0-.7.31-.7.69v6.62c0 .38.31.69.7.69Zm2.33-8.97c0-.85.31-1.91.88-2.51.55-.59 1.31-.93 2.09-.93.78 0 1.54.34 2.09.93.57.6.88 1.66.88 2.51V7H5.03v-.97Z");

	--default-tree-icon-size: 16;
	--default-tree-icon-size-unit: calc(var(--default-tree-icon-size) * 1px);
	--addend-tree-icon-size: 0px;
	--tree-icon-size: calc(var(--default-tree-icon-size-unit) + var(--addend-tree-icon-size));

	--tree-icon-transform-scale: scale(calc( 1 / var(--default-tree-icon-size) ));	/* 1/size to approximate 1px */
}

#rssTreeView {
	margin: 0;
	padding: 4px;
	font-weight: normal;
	white-space: nowrap;
	background-color: var(--bk-color-window);
	unicode-bidi: embed;
	line-height: var(--line-height-rss-view);
	user-select: none;
}
#rssTreeView:empty {
	display: flex;
}
#rssTreeView:empty::after {
	content: "It feels so empty, without feeds";
	font-size: 150%;
	color: var(--bk-color-window-contrasted);
	margin: 45px auto auto;
}

#rssTreeView ul {
	margin: 0;
	padding: 0;
	padding-inline-start: var(--rss-tree-indent);
	cursor: default;
}

/* All <li> elements */
#rssTreeView li.rtvTreeItem {
	list-style: none;
	cursor: default;
}

#rssTreeView li.rtvTreeFolder.open > ul {
	display: block;
}

#rssTreeView li.rtvTreeFolder.closed > ul {
	display: none;
}

#rssTreeView li.rtvTreeFolder.open > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: var(--path-sidebar-ico-folder-open);
}

#rssTreeView li.rtvTreeFolder.closed > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: var(--path-sidebar-ico-folder-closed);
}

/* <li> elements that are tree leafs */
#rssTreeView li.rtvTreeFeed {
	cursor: pointer;
}
#rssTreeView li.rtvTreeFeed > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: var(--path-sidebar-ico-feed-rss);
}

/* this selector string is tested in rssTreeView.js */
#rssTreeView li.rtvTreeFeed.bold {
	font-weight: bold;
	/* font-size: 1.05em;		This rule is set/unset in JS via a preference */
}

#rssTreeView li.rtvTreeFeed.loading {
	cursor: wait;
}
#rssTreeView li.rtvTreeFeed.loading > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: none;
}
#rssTreeView li.rtvTreeFeed.loading > .rtvIconCaption > svg|svg.rtvIcon {
	border: 3px solid var(--color-sidebar-icons);
	border-radius: 50%;
	animation: keyframesShrinkExpandLoadAnimation 1.5s ease-in-out infinite;
}
@keyframes keyframesShrinkExpandLoadAnimation {
	0%, 100% { transform: scale(1); }
	50% { transform: var(--tree-icon-transform-scale); }
}

#rssTreeView li.rtvTreeFeed.error {
	font-style: italic;
	font-weight: normal;
}
#rssTreeView li.rtvTreeFeed.error:not(.unauthorized) > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: var(--path-sidebar-ico-feed-error);
}
#rssTreeView li.rtvTreeFeed.error.unauthorized > .rtvIconCaption > svg|svg.rtvIcon > svg|path {
	d: var(--path-sidebar-ico-feed-unauthorized);
}

#rssTreeView .rtvIconCaption {
	display: flex;
	align-items: center;
	pointer-events: none; /* otherwise the menucontext is not fired */
}

#rssTreeView svg|svg.rtvIcon {
	width: var(--tree-icon-size);
	height: var(--tree-icon-size);
	flex-shrink: 0;
	margin-inline-end: calc(var(--tree-icon-size) / 8);
	fill: var(--color-sidebar-icons);
}

#rssTreeView .rtvCaption {
	box-sizing: content-box;
	min-height: var(--line-height-rss-view);
	padding-block: 1px;
	padding-inline: 0 5px;

	display: flex;
	align-items: flex-end;
	width: 100%;
}

#rssTreeView .rtvCaptionTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-inline-start: 3px;
	padding-inline-end: 8px;
}

#rssTreeView .rtvCaptionStats {
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
	filter: opacity(65%);
}

#rssTreeView li.selected > .rtvIconCaption > .rtvCaption {
	background-color: var(--bk-color-active);
	color: var(--bk-color-active-contrasted);
}

#rssTreeView li.selected:focus > .rtvIconCaption > .rtvCaption {
	outline: 1px dotted gray;
}

#rssTreeView li.rtvTreeFeed:hover > .rtvIconCaption > .rtvCaption > .rtvCaptionTitle {
	text-decoration: underline;
}

#rssTreeView li.dragged {
	opacity: 0.5;
}

#rssTreeView li.dragged > .rtvIconCaption > .rtvCaption {
	background-color: transparent;
}

#rssTreeView li.draggedOver > .rtvIconCaption > .rtvCaption {
	box-shadow: 0 -2px 0 0 var(--bk-color-window-contrasted);
}

#rssTreeView li.rtvTreeFolder.draggedOver.dropInside > .rtvIconCaption > .rtvCaption {
	box-shadow: none;
	color: var(--bk-color-window);
	background-color: var(--bk-color-window-contrasted);
}

#rssTreeView li.errormsg {
	display: flex;
	list-style: none;
	background-color: rgb(255, 255, 220);
	color: crimson;
	cursor: default;
	user-select: text;
	white-space: normal;
}

#rssTreeView .img-errormsg {
	--icon-top: calc((var(--line-height-rss-view) - var(--tree-icon-size)) / 2);
	width: var(--tree-icon-size);
	height: var(--tree-icon-size);
	margin-block: var(--icon-top) auto;
	margin-inline: 1px calc(var(--tree-icon-size) / 8);
}

#rssTreeView.hidden,
#rssTreeView li.rtvTreeItem.filtered {
	display: none;
}

#treeViewIndicator {
	display: none;
	position: fixed;
	inset-inline-end: var(--tree-view-scrollbar-width);
	top: var(--toolbar-height);
	width: 16px;
	height: 16px;
	opacity: 0.45;
}
#treeViewIndicator:hover {
	opacity: 1;
}

#rssTreeView.filteredItems + #treeViewIndicator {
	display: block;
}
#rssTreeView.disabled + #treeViewIndicator {
	inset-inline-end: 0;
	top: 0;
}
