@namespace url("http://www.w3.org/1999/xhtml");

#signinPanel {
	white-space: nowrap;
	font-weight: normal;
	overflow: hidden;
}

#signinPanel > .captionContainer {
	display: flex;
	justify-content: left;
	margin: 0 0 var(--panel-spacing);
}

#signinPanel .captionImage {
	background: transparent url("/icons/unauthorized.png") no-repeat center center;
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: auto 8px auto 0;
}

#signinPanel .caption {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.signinInfoContainer {
	display: flex;
	margin: var(--panel-spacing);
}

.signinInfoContainer label {
	width: 85px;
	flex-grow: 0;
}

.signinInfoContainer .signinInput {
	flex-grow: 1;
	font-size: inherit;
}

.signinButtonContainer {
	display: flex;
	justify-content: right;
	margin-right: var(--panel-spacing);
}

#signinStatusbar {
	margin-top: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: red;
}
